﻿<p style="font-family:Arial;font-size:10pt;"><i><u>Kính chào</u></i> : Quý khách !<br /></p>
<p style="font-family:Arial;font-size:10pt;">Chúc mừng, Quý khách đã đăng ký thành công tài khoản trên <a href="https://berichmart.com/">berichmart.com</a><br /><br /></p>
<p style="font-family:Arial;font-size:10pt;">
    Vui lòng nhấn vào đường link dưới đây để kích hoạt tài khoản:
    <a href="{URL}" target="_blank">{URL}</a><br />
    <b>Email:</b>{Email}<br />
    <b>Mật khẩu:</b>{Pass}<br />
</p>
<br /><br />
Mọi thắc mắc và góp ý, xin Quý khách vui lòng liên hệ với chúng tôi qua:
Email hỗ trợ: berichmart.infor@gmail.com <br/>
Tổng đài chăm sóc khách hàng: <br />
AZATOT trân trọng cảm ơn và rất hân hạnh được phục vụ Quý khách.<br />
* Quý khách vui lòng không trả lời email này.<br />
Chúc quý vị một ngày làm việc vui vẻ và hiệu quả ! <br /><br />
-------------------------------------------------------<br>
Thân mến!