.ibox_w{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #000;
    margin:0;
    padding:0;
    filter:alpha(opacity=0);
    -moz-opacity: 0.0;
    opacity: 0.0;      
}

.ibox_wrapper {
    font: 11px/18px Arial, Verdana, sans-serif;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    border: 2px solid #333;
    background-color: #fff;
    color: #666;
    padding: 18px;
    display: none;
}


