﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.CPViewControl" %>

<form id="vswForm" name="vswForm" method="post">

    <input type="hidden" id="_vsw_action" name="_vsw_action" />

    <div class="page-content-wrapper">
        <h3 class="page-title">Thay đổi mật khẩu</h3>
        <div class="page-bar justify-content-between">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-home"></i>
                    <a href="/{CPPath}/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/{CPPath}/<%=CPViewPage.CurrentModule.Code%>/Index.aspx">Thay đổi mật khẩu</a>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group">
                    <a href="/" class="btn green" target="_blank"><i class="icon-screen-desktop"></i>Xem Website</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%= ShowMessage()%>

                <div class="form-horizontal form-row-seperated">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"></div>
                            <div class="actions btn-set">
                                <%= GetSortAddCommand()%>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                                    <div class="portlet box blue-steel">
                                        <div class="portlet-title">
                                            <div class="caption">Thông tin chung</div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-body">
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label text-right">Mật khẩu hiện tại:</label>
                                                    <div class="col-md-9">
                                                        <input type="password" class="form-control" name="CurrentPassword" value="" placeholder="Nhập mật khẩu hiện tại" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label text-right">Mật khẩu mới:</label>
                                                    <div class="col-md-9">
                                                        <input type="password" class="form-control" name="NewPassword" value="" placeholder="Nhập mật khẩu mới" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 col-form-label text-right">Nhập lại mật khẩu:</label>
                                                    <div class="col-md-9">
                                                        <input type="password" class="form-control" name="ConfirmPassword" value="" placeholder="Nhập lại mật khẩu" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                                    <div class="portlet box blue-steel">
                                        <div class="portlet-title">
                                            <div class="caption">Thông tin</div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <label class="portlet-title-sub">Hình minh họa</label>
                                                    <div class="custom-file mb20">
                                                        <span class="btn green fileinput-button">
                                                            <i class="fa fa-picture-o"></i>
                                                            <span>Chọn ảnh</span>
                                                            <input type="file" name="files[]" multiple="">
                                                        </span>
                                                    </div>
                                                    <table class="table table-striped clear">
                                                        <tbody>
                                                            <tr class="template-upload">
                                                                <td>
                                                                    <span class="preview"><img src="uploads/pro1.png" alt=""></span>
                                                                </td>
                                                                <td>
                                                                    <p class="name">logo video.png</p>
                                                                </td>
                                                                <td>
                                                                    <p class="name">45.21 KB</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>