.sticker {
  background: none repeat scroll 0 0 #fff;
  float: left;
  height: 25px;
  margin-top: 10px;
  width: 1000px;
}
.title-sticker {
  background: none repeat scroll 0 0 #319d2d;
  float: left;
  height: 25px;
  line-height: 18px;
  width: 114px;
}
.arrow {
  width: 0;
height: 0;
border-style: solid;
border-width: 12.5px 0 13.5px 10.7px;
border-color: transparent transparent transparent #319d2d;
line-height: 0px;
_border-color: #000000 #000000 #000000 #319d2d;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
float:left;
}
.title-sticker span {
  color: #fff;
  display: block;
  margin: 3px 0 0 10px;
}

/* Ticker Styling */
.ticker-wrapper.has-js {
  float: left;
  height: 25px;
  padding: 0 20px;
}
.ticker {
	width: 710px;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
.ticker-title {
	padding-top: 9px;
	color: #6f3120;
	font-weight: bold;
	text-transform: uppercase;
}
.ticker-content {
  color: #6f3120;
  font-weight: bold;
  line-height: 25px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #6f3120;
}
.ticker-content a:hover {
	text-decoration: underline;	
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #fff;
	display: block;
	width: 800px;
	height: 23px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #fff;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('images/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('images/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('images/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('images/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}