/* ^^^css by:tuanlinhtb@gmail.com - Mobile: 0979 444 398^^^ */ 
 /*===================================================================================*/
  /*  Col-mobile-xs
/*===================================================================================*/
@media (max-width: 500px){
   ul.temp-pro-item{    margin-left: -10px!important; margin-right: -10px!important;} 
   ul.list-new-cate li>.col-xs-4 {padding: 0!important;}
   ul.list-new-cate li>.col-xs-8 {padding-right: 0!important;}
   ul.list-new-cate li figure{padding:2px!important;} 
   ul.list-new-cate li .blogtitle{font-size: 14px!important;} 
}
@media (max-width: 380px) {  
  ul.temp-pro-item li{width: 50%!important;} 
  ul.temp-pro-item li:nth-child(2n){border-left: none !important;} 
  ul.list-news>li{width: 100%!important;}
  ul.list-news>li>figure>img{max-height: none!important;}
  .filter>li{}
  .ft-top ul li{width: 100%!important;}
  .add-ft>div{width: 100%!important;}
  p.img-ad{height: auto!important;}
  p.img-ad img{max-height: 100%!important; width: 100%;} 
  ul.service-item li{width: 50%!important; border-bottom: 1px dotted #e5e5e5}
  ul.service-item li:last-child{width: 100%!important;border-bottom:none;} 
  .filter>li>div:first-child b{display: none;}
  .filter>li>.click-filter{font-size: 11px!important;}
}
.container {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto; 
} 
.row { margin-right:-15px; margin-left:-15px; }
.container-fluid { padding-right:15px; padding-left:15px; margin-right:auto; margin-left:auto; }
.row { margin-right:-15px; margin-left:-15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}

.col-xs-12 {
  width:100%;
}

.col-xs-11 {
  width:91.66666667%;
}

.col-xs-10 {
  width:83.33333333%;
}

.col-xs-9 {
  width:75%;
}

.col-xs-8 {
  width:66.66666667%;
}

.col-xs-7 {
  width:58.33333333%;
}

.col-xs-6 {
  width:50%;
}

.col-xs-5 {
  width:41.66666667%;
}

.col-xs-4 {
  width:33.33333333%;
}

.col-xs-3 {
  width:25%;
}

.col-xs-2 {
  width:16.66666667%;
}

.col-xs-1 {
  width:8.33333333%;
}

.col-xs-pull-12 {
  right:100%;
}

.col-xs-pull-11 {
  right:91.66666667%;
}

.col-xs-pull-10 {
  right:83.33333333%;
}

.col-xs-pull-9 {
  right:75%;
}

.col-xs-pull-8 {
  right:66.66666667%;
}

.col-xs-pull-7 {
  right:58.33333333%;
}

.col-xs-pull-6 {
  right:50%;
}

.col-xs-pull-5 {
  right:41.66666667%;
}

.col-xs-pull-4 {
  right:33.33333333%;
}

.col-xs-pull-3 {
  right:25%;
}

.col-xs-pull-2 {
  right:16.66666667%;
}

.col-xs-pull-1 {
  right:8.33333333%;
}

.col-xs-pull-0 {
  right:auto;
}

.col-xs-push-12 {
  left:100%;
}

.col-xs-push-11 {
  left:91.66666667%;
}

.col-xs-push-10 {
  left:83.33333333%;
}

.col-xs-push-9 {
  left:75%;
}

.col-xs-push-8 {
  left:66.66666667%;
}

.col-xs-push-7 {
  left:58.33333333%;
}

.col-xs-push-6 {
  left:50%;
}

.col-xs-push-5 {
  left:41.66666667%;
}

.col-xs-push-4 {
  left:33.33333333%;
}

.col-xs-push-3 {
  left:25%;
}

.col-xs-push-2 {
  left:16.66666667%;
}

.col-xs-push-1 {
  left:8.33333333%;
}

.col-xs-push-0 {
  left:auto;
}

.col-xs-offset-12 {
  margin-left:100%;
}

.col-xs-offset-11 {
  margin-left:91.66666667%;
}

.col-xs-offset-10 {
  margin-left:83.33333333%;
}

.col-xs-offset-9 {
  margin-left:75%;
}

.col-xs-offset-8 {
  margin-left:66.66666667%;
}

.col-xs-offset-7 {
  margin-left:58.33333333%;
}

.col-xs-offset-6 {
  margin-left:50%;
}

.col-xs-offset-5 {
  margin-left:41.66666667%;
}

.col-xs-offset-4 {
  margin-left:33.33333333%;
}

.col-xs-offset-3 {
  margin-left:25%;
}

.col-xs-offset-2 {
  margin-left:16.66666667%;
}

.col-xs-offset-1 {
  margin-left:8.33333333%;
}

.col-xs-offset-0 {
  margin-left:0;
}

/**/
