﻿@charset "utf-8";
/* ^^^css by:tuanlinhtb@gmail.com - Mobile: 0979 444 398^^^ */
@import url(modules.css);
@import url(Codltd.css);
@import url(font-awesome.css);

@font-face {
  font-family: 'Roboto';
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Regular.eot");
  /* Legacy iOS */
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.ttf") format("truetype"), url("fonts/Roboto-Regular.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Bold.eot");
  /* Legacy iOS */
  src: url("fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Bold.woff") format("woff"), url("fonts/Roboto-Bold.ttf") format("truetype"), url("fonts/Roboto-Bold.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Medium.eot");
  /* Legacy iOS */
  src: url("fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Medium.woff") format("woff"), url("fonts/Roboto-Medium.ttf") format("truetype"), url("fonts/Roboto-Medium.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Light.eot");
  /* Legacy iOS */
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype"), url("fonts/Roboto-Light.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    color: #222;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 1.1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}

body::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    outline: 1px solid #D5A00F;
}

img {
    width: auto;
    height: auto;
    max-width: 100%; /* max-height:100%; */
    vertical-align: middle;
}


:focus {
    outline: 0 !important;
}

figure {
    margin: 0;
    padding: 0;
}

img[src*=".svg"] {
    height: 100%;
}

iframe {
    border: none;
}

::selection {
    background: #B4D5FF; /* Safari */
    color: #333333;
}

::-moz-selection {
    background: #B4D5FF; /* Firefox */
    color: #333333;
}

p {
    margin-bottom: 10px;
}

* > p:last-child {
    margin-bottom: 0 !important;
}

p a:hover {
    border-color: transparent;
}

a:hover, a:focus {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

ul, ol {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

ol {
    position: relative;
}

ul {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.all {
    float: left;
    width: 100%;
}

.lazy {
    background: #fff url(images/loading1.gif) center center no-repeat;
    min-width: 32px;
    min-height: 32px;
}

.hm-reponsive {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden
}

.hm-reponsive img {
    object-fit: cover;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.reponsive-img {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden
}

.reponsive-img img {
    margin: auto;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.alink-all {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.back-to-top {
    position: fixed;
    bottom: -50px;
    right: -50px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    width: 40px;
    height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    background-color: #E41C2C;
    line-height: 45px;
    text-align: center;
    color: #fff;
    display: inline;
    z-index: 999999;
    cursor: pointer
}

.back-to-top a {
    display: block;
}

.back-to-top:hover {
    background: #eb9007;
    color: #fff;
}

.back-to-top:hover a, .back-to-top a:focus {
    color: #fff
}

.back-to-top.display {
    bottom: 155px;
    right: 10px
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

/*===================================================================================*/
/*  Index
/*===================================================================================*/
#Wrap {
    max-width: 99%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    position: relative;
    background: #F9F9F9;
}

.nav-btn-show {
    height: 60px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.nav-btn-show .menu-icon-wrap {
    display: block;
    width: 100%;
    color: #f05428;
    font-size: 30px;
    line-height: 60px;
}

.logo {
    text-align: center;
    line-height: 60px;
}

.logo img {
    max-height: 55px;
}

.cart-number {
    background: rgba(0, 0, 0, 0) url("images/ic-cart.png") no-repeat scroll 0 0;
    float: left;
    height: 43px;
    width: 46px;
    position: absolute;
    right: 5px;
    top: 6px;
}

.cart-number span, .cart-number a {
    color: #0074c1;
    display: block;
    font: bold 12px Arial,Helvetica,sans-serif;
    margin: 3px 0 0 30px;
}

/**/
.mm-menu * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mm-navbar .mm-title {
    font-weight: 600;
    text-transform: uppercase;
    color: #333 !important;
}

.search-box {
    background: #fff;
    padding: 8px 5px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
}

.input-group-btn > .btn {
    position: relative;
}

.search-box .input-group-btn .btn {
    background: #ef5124;
}

.search-box .input-group .form-control {
    border: 1px solid #ef5124;
    border-radius: 0;
}

.search-box i.fa {
    color: #fff;
    font-size: 15px;
}

#slide {
    overflow: hidden;
    margin-bottom: 10px;
}

.box-home {
    background: #fff;
    padding-bottom: 15px
}

.panel-bd-top {
    overflow: hidden;
    background: #ef5124;
    height: 40px;
    color: #ffffff
}

.panel-bd-top i.fa {
    padding-right: 8px;
    font-size: 15px
}

.panel-bd-top a {
    color: aliceblue;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 15px;
}

ul.list-pro-dm {
    display: flex;
    overflow: auto;
    padding: 10px 0;
    background: #565B70;
}

ul.list-pro-dm li {
    text-align: center;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
}

ul.list-pro-dm li:nth-child(2n) {
    float: right;
    border-right: none
}

p.image-dm {
    height: 40px;
    overflow: hidden;
    position: relative;
    margin: 0;
}

p.image-dm img {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0
}

ul.list-pro-dm h3 {
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.home-menu {
    overflow: hidden;
    padding: 3px 0 7px;
    font-size: 14px;
    border-bottom: 1px solid #dad8d8;
    margin-bottom: 7px
}

.home-menu-head {
    float: left;
    position: relative
}

.home-menu-head a {
    color: #0074c1;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 17px;
    display: block;
    padding-top: 6px;
    padding-left: 0;
    padding-right: 24px;
    font-weight: bold;
}

.home-menu-logo {
    overflow: hidden;
    display: table;
    width: 100%
}

.home-menu-logo a {
    line-height: 50px;
    text-align: center;
    padding: 0 6px
}

.home-menu-logo img {
    max-width: 100%;
    max-height: 50px
}

ul.service-item {
    display: table;
    width: 100%;
    border: 1px dotted #e5e5e5;
    background: #fff
}

ul.service-item li {
    float: left;
    height: 65px;
    display: block;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 20%;
    border-right: 1px dotted #e5e5e5
}

ul.service-item li span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #404040;
    padding-top: 5px;
    padding-bottom: 5px
}

ul.service-item li small {
    font-size: 14px;
    color: #404040;
    line-height: 1.3em;
    padding: 0 3px;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden
}

ul.service-item li:hover {
    background-color: #f3f3f3
}

ul.service-item li:nth-child(5) {
    border-right: none
}

.owl-carousel .owl-item {
    text-align: center
}

ul.banner-pro-verti-item {
}

ul.banner-pro-verti-item li {
    float: left;
    width: 100%
}

ul.banner-pro-verti-item li a {
    display: block
}

ul.banner-pro-verti-item li img {
    width: 100%
}

ul.temp-pro-item li {
    position: relative;
    border: 1px solid #ccc;
    float: left;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

p.type-discount {
    position: absolute;
    z-index: 2;
    top: 9px;
    left: 17px;
    background: url("images/type-discount.png") no-repeat scroll center center transparent;
    width: 45px;
    height: 45px;
    color: #ffffff;
    font: bold 13px/45px 'Roboto';
    text-align: center
}
ul.temp-pro-item li p.p-image {
    height: 150px;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
}

ul.temp-pro-item li p.p-image a {
}

ul.temp-pro-item li p.p-image img {
    width: 100%;
}

ul.temp-pro-item li p.brand {
    color: #0071C5;
    font: bold 15px/22px 'Roboto';
    padding: 5px 0 0 15px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 55px;
}

ul.temp-pro-item li p.brand span {
    vertical-align: super;
    color: #ed1c24;
    font-size: 12px
}

ul.temp-pro-item li p.name {
    height: 55px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

ul.temp-pro-item li .p-price {
    min-height: 35px
}

ul.temp-pro-item li .p-price p {
    padding: 0 0 0 15px;
    margin: 0
}

ul.temp-pro-item li .p-price p.p-p-o {
    color: #ff0000;
    font: bold 15px/17px 'Roboto'
}

ul.temp-pro-item li .p-price p.p-p-m {
    color: #636363;
    font: 11px/17px 'Roboto';
    text-decoration: line-through
}

ul.temp-pro-item li:nth-child(2n) {
    float: right
}

ul.temp-pro-item li p.gift {
    display: inline-block;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    color: #666;
    width: 100%;
    text-overflow: ellipsis;
    height: 18px;
    padding: 0px 0 0 15px;
    background: url(images/present-box.gif) no-repeat left center / 20px 20px;
}

.footer-center {
    background: #fff
}

ul.mf-listmn > li {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

ul.mf-listmn > li h3.heading {
    position: relative;
    color: #333;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    font-weight: bold;
}

ul.mf-listmn > li h3.heading span {
}

ul.list-mn li {
    padding: 5px 0
}

ul.list-mn li a {
    color: #666;
    font-size: 14px
}

ul.list-mn li a:hover {
    color: #0071C5
}

.w-footer {
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 15px 2.5% 20px;
    margin-top: 16px
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    width: 30px;
    padding: 0;
    background: #e23a24;
    color: #fff
}

.btn-social-icon > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    width: 100% !important
}

.btn-facebook:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2)
}

.btn-google-plus:hover {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2)
}

.btn-twitter:hover {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2)
}

.btn-youtube:hover {
    color: #fff;
    background-color: #cb2027;
    border-color: rgba(0,0,0,0.2)
}

.btn-pinterest:hover {
    color: #fff;
    background-color: #cb2027;
    border-color: rgba(0,0,0,0.2)
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.form-group {
    margin-bottom: 15px
}

.form_newletter .form-control {
    height: 26px;
    padding: 0 6px;
    border: solid 1px #E3A2A4;
    background: none;
    font-size: 9px;
    float: left
}

.form_newletter .btn {
    background: #FFD503;
    border: none;
    text-transform: uppercase;
    color: #ed1c24;
    font-weight: 700;
    font-size: 10px
}

.w-footer {
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 15px 2.5% 20px;
    margin-top: 16px
}

ul.mf-listmn > li .tel a {
    color: #ed1c24;
    font-size: 18px;
    font-weight: 700
}

ul.mf-listmn > li .social {
    border-top: solid 1px #e3e4e5;
    max-width: 230px;
    padding-top: 5px;
    margin-top: 4px
}

.footer_address {
    border-top: 1px solid #F1F1F1;
    float: left;
    width: 100%;
    background: #F25A29;
    padding: 10px
}

ul.list_showroom > li {
    padding: 15px;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px
}

ul.list_showroom > li .bg_showroom {
    display: block;
    position: relative;
    text-decoration: none
}

.info-showroom .name {
    color: #F25A29;
    font-weight: bold;
    background: url(images/home.png) no-repeat 0 0;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 14px;
    text-transform: uppercase;
    background-size: 19px;
    margin-bottom: 10px
}

ul.list-adress li {
    font-size: 14px;
    color: #333;
    letter-spacing: -0.2px;
    padding-left: 4px;
    line-height: 16px;
    margin-bottom: 12px
}

ul.list-adress li span, ul.list-adress li a {
    color: #F25A29
}

ul.list-adress li i.fa {
    padding-right: 5px
}

.ft_diemban {
    background: #F25A29;
    border-radius: 5px;
    padding: 7px 8px;
    display: inline-block;
    color: #fff;
    font-size: 11px
}

.view-desktop {
    background: #5eac00;
    border-top: 2px solid #5d8500;
    text-align: center;
    color: #fff;
    line-height: 30px
}

.footer_bottom {
    background: #f25a29;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
.footer_bottom h6 {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.footer_bottom h5 {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.footer_bottom p {
    text-align: center;
    line-height: 22px;
}
/*product*/
.breadcrumb {
    border-radius: 0;
    margin-bottom: 0;
}

.breadcrumb > .active {
    color: #777
}

.breadcrumb li a {
    color: #333;
    font-size: 13px;
}

.filter {
    display: block;
    overflow: visible;
    position: relative;
    text-align: center;
    background: #0074c1;
    margin-bottom: 8px;
}

.filter > li {
    float: left;
    font-size: 12px;
    width: 33.33%;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #fff;
    cursor: pointer;
}

.filter > li:nth-child(2n) {
}

.filter > li > div:first-child b {
    position: relative;
    top: 10px;
    margin-left: 2px;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent
}

.filter li div.selected {
    color: #fff;
    background: gray
}

.filter > li > .click-filter {
    display: block;
    padding: 5px 0;
    font-weight: 400
}

.filter > li > .click-filter .outer-icon {
    font-size: 19px;
    margin-bottom: 5px
}

.filter > li > .click-filter .outer-icon i.fa {
}

.filter > li > .filter-bg {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    border: 1px solid #dadada;
    padding: 10px;
    background: #fff;
    text-indent: 0;
    text-align: left
}

.filter-box > a {
    display: inline-block;
    font-size: 15px;
    color: #444;
    padding: 8px 0;
    width: 49%;
    font-weight: normal
}

.filter-box > a:hover {
    text-decoration: underline
}

.title-filter {
    background-color: #f2f2f2;
    font-weight: 700;
    padding: 7px 10px 7px 30px;
    margin-right: -10px;
    margin-left: -10px;
    line-height: 24px;
    font-size: 14px;
    color: #006eb6
}

.filter > li > .filter-bg .title-filter:first-child {
    margin-top: -10px
}

.pca-filter {
    overflow: hidden;
    padding-bottom: 10px
}

.pca-filter li {
    float: left;
    width: 50%;
    padding: 5px 4px 5px 0
}

.pca-filter li a {
    color: #eb1c22;
    background: url(images/icon_ckbox.png) no-repeat left 2px;
    padding-left: 21px;
    display: block;
    font-size: 12px
}

.pca-filter li a.active {
    background: url(images/icon_ckbox_selected.png) no-repeat left center
}

ul.pager {
    float: left;
    width: 100%
}

ul.pager li a {
    margin-bottom: 8px
}
/*detail*/
.content-pd-head {
    z-index: 999999
}

.pd-pro .vrp {
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 0;
    background: transparent;
    color: #288ad6;
    font-size: 15px;
    cursor: pointer
}

.view-specs {
    color: #288ad6;
    display: block;
    padding-top: 6px;
    text-align: left;
    font-size: 14px
}

.pdrl-name {
    font-size: 20px;
    padding: 0 0 15px;
    color: #333;
    font-weight: bold;
}

.area_price {
    display: block;
    overflow: hidden;
    line-height: 20px;
    padding: 0 0 10px
}

.area_price label {
    display: inline-block;
    vertical-align: sub;
    font-size: 15px;
    color: #666;
    font-weight: normal;
}

.area_price strong {
    color: #4a90e2
}

.area_price strong {
    display: inline-block;
    overflow: hidden;
    font-size: 24px;
    color: #d0021b;
    vertical-align: middle;
    margin-right: 5px
}

.area_price span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px
}

.area_price span.five-7ngay {
    color: #ec9504
}

.pd_summary {
    color: #666;
    font-size: 14px;
    line-height: 23px
}

.area_order {
    display: block;
    overflow: hidden;
    margin: 10px 0
}

.area_order .buy_now {
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d)
}

.area_order span {
    padding: 5px;
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: none;
}

.area_order .phone_pd_btn {
    line-height: normal;
    float: right;
    width: 46%;
    padding: 9px 0;
    text-align: center;
    background: #288ad6;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600
}

.policy_pd {
    display: block;
    overflow: hidden;
    margin: 0
}

.policy_pd p {
    display: block;
    overflow: hidden;
    padding: 10px 10px 0 0;
    font-size: 14px;
    color: #333
}

.policy_pd a {
    color: #288ad6
}

.pd-checkexist .title {
    display: block;
    font-size: 14px;
    color: #333;
    padding: 0 0 10px
}

.pd-checkexist .title {
    display: block;
    font-size: 14px;
    color: #333;
    padding: 0 0 10px
}

.form-group-select .chosen-container {
    width: 100% !important
}

.choosecolor, .onecolor {
    display: block;
    position: relative;
    border: 1px solid #dfdfdf;
    background: #fff;
    border-radius: 3px;
    line-height: 38px;
    font-size: 14px;
    color: #333;
    padding: 0 0 0 10px;
    margin: 10px 0;
    cursor: pointer
}

.choosecolor span, .onecolor span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.listmarket .choose-store {
    display: block;
    font-size: 15px;
    color: #333;
    padding: 0 0 10px
}

.listmarket ul {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 180px
}

.listmarket li {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 0 0 10px 0;
    line-height: 18px
}

.listmarket li span.graytxt {
    color: #e23a24;
    font-size: 12px;
    display: inline-block
}

.listmarket li:last-child {
    margin-top: 15px
}

.article-content .pd-title {
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px 0 15px;
    line-height: 150%
}

.bg-article {
    line-height: 1.8;
    color: #555;
    font-size: 14px
}

.bg-article table {
    width: 100% !important;
}

.paratable .tt, .paratable h2, .paratable h3 {
    display: block;
    line-height: 1.3em;
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600
}

.paratable {
    width: 100%
}

.paratable ul li {
    font-weight: 700;
    display: block;
    background: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    color: #999
}

.paratable ul li:nth-child(2n) {
    background: #fff
}

.paratable ul li > div {
    font-weight: 400;
    display: inline-block
}

.paratable ul li > div:nth-child(1) {
    font-size: 14px;
    color: #333;
    font-weight: 600
}

.paratable ul li > div:nth-child(2) {
    text-align: right;
    font-size: 14px;
    color: #333;
    margin-left: 5px
}

.pd-gallery {
    overflow: hidden;
}

.pd-gallery .slider {
    display: inline-block;
    width: 100%
}

.pd-gallery .slider figure img {
    height: auto
}

.pd-gallery .thumbs {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
.pd-gallery .thumbs li {
    float: left;
    width: 25%;
    padding: 0 5px;
    box-sizing: border-box;
}

.pd-gallery .thumbs .imgs img {
    display: inline-block;
    margin-right: 5px;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    max-width: 15%
}

.pd-gallery .thumbs .imgs a.active img {
    border: 2px solid #f89406
}

.review-article {
    line-height: 24px
}

.boxNewscate .div_bigcatetitle {
    text-align: left;
    margin-bottom: 18px;
    font-size: 22px;
    color: #333
}

ul.list-new-cate li {
    margin-bottom: 30px;
    overflow: hidden
}

ul.list-new-cate li figure {
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    border: solid 1px #dedede;
    padding: 5px
}

ul.list-new-cate li figure a {
    display: block
}

ul.list-new-cate li figure img {
    max-width: 100%;
    max-height: 130px;
    margin: auto;
    display: block
}

ul.list-new-cate li .blogtitle {
    margin-bottom: 7px;
    display: block;
    line-height: 1.2em;
    font-size: 15px;
    color: #636363;
    font-weight: 600;
    letter-spacing: .5px
}

ul.list-new-cate li .blogsummary {
    color: #4d4d4d;
    font-size: 14px;
    padding-bottom: 8px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}

ul.list-new-cate li .linkxemcht {
    color: #167ac6;
    display: inline;
    float: right
}

.new-list h3 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 6px;
    color: #333;
    font-weight: 400
}

ul.items-new li {
    padding-top: 10px;
    color: #999
}

ul.items-new li a {
    color: #288ad6;
    line-height: 20px;
    font-size: 14px
}

ul.items-new li a:before {
    content: '●';
    font-size: 12px;
    margin-right: 5px;
    color: #d8d8d8
}
/*newdetail*/
.thumbnail-news-view {
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding: 10px;
    background: #fff;
}

.thumbnail-news-view > h1, .thumbnail-news-view > h2 {
    font-size: 19px;
    font-weight: 500;
    color: #00528b;
    text-transform: uppercase
}

.block_timer_share {
    padding: 10px 0 20px 0;
    width: 100%;
    overflow: hidden
}

.block_timer {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0 0;
    white-space: nowrap
}

.block_share {
}

.block_share a {
    width: 24px;
    height: 22px;
    display: block;
    margin-right: 7px;
    float: left;
    text-align: center;
    line-height: 22px;
    background-color: #999999;
    color: #fff;
    text-decoration: none;
    font-size: 11px
}

.block_share .facebook {
    background-color: #3B5A9A
}

.block_share .google {
    background-color: #DF4B38
}

.block_share .twitter {
    background-color: #29A9E1
}

.block_share .email {
    background-color: #999999
}

.block_share .print {
    background-color: #999999
}

.post_content {
    word-wrap: break-word;
    padding-bottom: 20px;
    line-height: 25px
}

.other-news-detail {
    position: relative;
    padding: 0;
    margin-top: 20px
}

.other-news-detail h2 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    color: #005aab;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px
}

.other-news-detail h2 span {
    background: #fff;
    padding-right: 10px;
    position: absolute;
    top: 8px;
    left: 0
}

.other-news-detail ul li {
    padding: 5px 0 5px 0;
    display: block;
    position: relative
}

.other-news-detail ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding-left: 18px
}

.other-news-detail ul li a:hover {
    text-decoration: underline
}

.other-news-detail ul li:before {
    content: "";
    position: absolute;
    top: 11px;
    left: 2px;
    width: 4px;
    height: 4px;
    background: #ccc
}
/*cart*/
.boxFormPayment {
    float: left;
    padding: 15px 0;
    width: 100%
}

.boxFormPayment .title {
    color: #333d94;
    float: left;
    font-size: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 100%;
    padding-top: 20px;
    text-align: center;
}

.boxFormPayment label {
    display: block;
    font-weight: normal;
    margin-bottom: 10px
}

.boxFormPayment .gender {
    display: inline-block;
    padding-right: 20px
}

.boxFormPayment .form-group {
    float: left;
    margin-bottom: 20px;
    width: 100%
}

.boxFormPayment .form-control {
    border-radius: 0
}

.inline-block {
    display: inline-block !important
}
/*radio*/
.radioPure {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding-right: 20px
}

.radioPure:hover .inner {
    background-color: #e23a24;
    opacity: 0.5;
    transform: scale(0.5)
}

.radioPure input {
    height: 1px;
    opacity: 0;
    width: 1px
}

.radioPure input:checked + .outer .inner {
    opacity: 1;
    transform: scale(1)
}

.radioPure input:checked + .outer {
    border: 2px solid #e23a24
}

.radioPure input:focus + .outer .inner {
    background-color: #e23a24;
    opacity: 1;
    transform: scale(1)
}

.radioPure .outer {
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 50%;
    display: block;
    float: left;
    height: 18px;
    width: 18px
}

.radioPure .inner {
    background-color: #e23a24;
    border-radius: 50%;
    display: block;
    height: 10px;
    margin: 2px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.25s ease-in-out 0s;
    width: 10px
}

.radioPure i {
    color: #333;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    padding-left: 5px
}
/*checkbox*/
.itemCheckBox {
    float: left;
    padding-right: 30px;
    position: relative
}

.itemCheckBox input[type="checkbox"] {
    height: 0.1px;
    opacity: 0;
    width: 0.1px
}

.itemCheckBox span {
    font-weight: normal;
    padding-left: 5px;
    position: relative;
    top: -4px
}

.check-box {
    background-color: transparent;
    border: 2px solid #999;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    transition: border-color 0.2s ease 0s;
    width: 20px
}

.check-box input[type="checkbox"] {
    display: none
}

.check-box::before, .check-box::after {
    background-color: #e23a24;
    border-radius: 5px;
    box-sizing: border-box;
    content: " ";
    display: inline-block;
    height: 0;
    position: absolute;
    transform-origin: left top 0;
    width: 4px
}

.check-box::before {
    left: 8.2px;
    top: 14.4px;
    transform: rotate(-135deg)
}

.check-box::after {
    left: 1px;
    top: 7.4px;
    transform: rotate(-45deg)
}

input[type="checkbox"]:checked + .check-box, .check-box.checked {
    border-color: #e23a24
}

input[type="checkbox"]:checked + .check-box::after, .check-box.checked::after {
    animation: 0.2s ease 0s normal forwards 1 running dothabottomcheck;
    height: 10px
}

input[type="checkbox"]:checked + .check-box::before, .check-box.checked::before {
    animation: 0.2s ease 0s normal forwards 1 running dothatopcheck;
    height: 24px
}

.listItemCart {
    float: left;
    width: 100%
}

.listItemCart .itemCart:first-child {
    padding-top: 0
}

.listItemCart .itemCart:last-child {
    border-bottom: 0 none
}

.itemCart {
    border-bottom: 1px dashed #e1e1e1;
    float: left;
    padding: 15px 0;
    width: 100%
}

.itemCart .img {
    border: 1px solid #e1e1e1;
    float: left;
    height: 70px;
    line-height: 65px;
    text-align: center;
    width: 90px
}

.itemCart .img img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%
}

.itemCart .name {
    float: right;
    padding-left: 10px;
    width: calc(100% - 92px)
}

.itemCart .name a {
    color: #414141;
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold
}

.itemCart .name a:hover, .itemCart .name a:focus {
    color: #e23a24
}

.itemCart .name .price {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #ed1c24;
    font-size: 14px
}

.itemCart .option {
    float: left;
    margin-top: 10px;
    width: 100%
}

.itemCart .option .bt-remove {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #9f9f9f;
    display: inline-block;
    float: left;
    height: 30px;
    text-align: center;
    width: 30px
}

.itemCart .option .bt-remove span {
    font-size: 20px;
    line-height: 27px
}

.itemCart .option .bt-remove:hover, .itemCart .option .bt-remove:focus {
    background-color: #e23a24;
    border-color: #e23a24;
    color: #fff
}

.itemCart .option .quantity {
    border: 1px solid #e1e1e1;
    float: right
}

.itemCart .option .quantity a {
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 32px;
    text-align: center;
    width: 30px
}

.itemCart .option .quantity a:nth-child(2) {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    color: #000;
    font-size: 18px
}

.itemCart .option .quantity a:first-child:hover, .itemCart .option .quantity a:last-child:hover {
    background-color: #e1e1e1
}

.itemCart .option .quantity a span {
    color: #999;
    font-size: 16px
}

.total-price, .total-payment {
    border-top: 1px solid #e1e1e1;
    float: left;
    padding: 10px 0;
    width: 100%
}

.total-price span, .total-payment span {
    float: left;
    width: 50%;
}

.total-price strong, .total-payment strong {
    float: right;
    font-weight: bold;
    text-align: right;
    width: 50%;
}

.total-payment span {
    font-weight: bold
}

.total-payment strong {
    color: #e23a24
}

.bt-payment {
    background-color: #e23a24;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

.bt-payment:hover, .bt-payment:focus {
    background-color: #333d94
}

.form-group-check .itemCheckBox {
    display: block;
    width: 100%;
    padding: 0
}

#show-hd {
    display: none;
    float: left;
    width: 100%
}
/*hang*/
.title_02 .text {
    color: #000;
    padding: 10px 0 0;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 35px;
    border-bottom: 1px solid #f3f3f3;
}

.list_manufacturer {
    border-top: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
}

.list_manufacturer li {
    border-bottom: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    float: left;
    text-align: center;
    width: 50%;
    padding-bottom: 15px;
}

.brand-logo {
    position: relative; /* height:auto!important; */
    width: 100%; /* padding-top:56.25%; */
    overflow: hidden;
    height: 174px;
}

.brand-logo img {
    margin: auto;
    position: absolute;
    max-width: 100%;
    max-height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* opacity:0.8; */
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.brand-logo img:hover {
    opacity: 1;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05)
}

.list_manufacturer li h3 {
    padding: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_manufacturer li .brand-logo {
}

.banner_hsx img {
    width: 100%;
}

.btn-watchnow {
    background: none repeat scroll 0 0 #00cd30;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 12px;
    text-transform: uppercase;
}

#menu {
    display: none;
}
/*add css*/
/*add css*/
span.priceline {
    display: inline-block;
    text-decoration: line-through;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 500;
}

a.bt-payment.buylink.other-buy {
    background-color: #e0ad00;
}

a.bt-payment.buylink.other-buy:hover {
    background-color: #333d94;
}
/*add css*/
.pls-menu {
    overflow: hidden;
    background: #f3f3f4;
    border-bottom: solid 1px rgba(226,58,36,0.52);
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*css them*/

.diachishowroom {
    background: #fff;
    padding: 10px 0px;
}

ul.diachoshdk > li {
    width: 50%;
    float: left;
    height: 220px;
    /*display: inline-table;*/
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 15px;
    min-height: 130px;
}

.diachoshdk .ft_img {
    float: left;
    padding-right: 10px;
    width: 36%;
    height: 220px;
    position: relative;
}

.diachoshdk .ft_img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.diachishowroom *, ul.mf-listmn * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.red {
    color: #ee3124;
}

.title-store {
    font-size: 20px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.store-info {
    float: left;
    vertical-align: top;
    font-size: 12px;
    color: #596067;
}

.store-info h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    line-height: 18px;
}

.store-info p {
    margin-bottom: 0;
    line-height: 21px;
    color: #596067;
}

.store-info .signal {
    font-size: 11px;
    padding: 3px 5px;
    color: #fff;
    background: #f5791f !important;
}

.gmap_box {
    display: none;
}

.logo_home {
    display: none;
}

.listmarket ul.liststore > li:nth-child(1) {
    color: blue !important;
}

div#normal-popover {
    background-color: #f1f1f1;
    background: url(/Content/images/register3.jpg);
    padding: 10px 0px;
    color: #f1f1f1 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.popover-footer {
    text-align: center !important;
}

button#onesignal-popover-allow-button {
    float: none !important;
}

button#onesignal-popover-cancel-button {
    position: absolute !important;
    top: -106px !important;
    right: -3px;
    padding: 0px 5px !important;
    font-size: 15px !important;
    color: black !important;
}

.popover-body-icon {
    margin-left: 30px !important;
}

.popover-footer span {
    color: gray !important;
    cursor: pointer !important;
}
/*comment*/
.wrapcomment {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    float: left;
}

.wrapcomment .txtEditor {
    display: block;
    background: #fff;
    min-height: 50px;
    border: 1px solid #c1bfbf;
    padding: 10px;
    font-size: 16px;
    color: #333;
    max-height: 200px;
    width: calc(100% - 2px);
}

.wrap-attaddsend {
    display: block;
    overflow: hidden;
    background: #fff;
    border: 1px solid #c1bfbf;
    position: relative;
    margin-top: -1px;
    width: calc(100% - 2px);
}

.wrap-attaddsend .attach {
    float: left;
    font-size: 14px;
    color: #666;
    padding: 12px 16px 20px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.wrap-attaddsend .star-rating {
}

.rating-container {
    margin-bottom: 10px;
}

.star-rating .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 16px;
}

.caption .label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.caption .label-default {
    background-color: #777;
}

.sendnow {
    float: left;
    width: 100%;
    padding: 5px 10px;
}

.sendnow .finalpost {
    float: right;
    font-weight: 600;
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #d97f00;
    border-radius: 4px;
    background: #f89406;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f76b1c),to(#f89406));
    background: -webkit-linear-gradient(top,#f89406,#f76b1c);
    background: -moz-linear-gradient(top,#f89406,#f76b1c);
    background: -ms-linear-gradient(top,#f89406,#f76b1c);
    background: -o-linear-gradient(top,#f89406,#f76b1c);
}

.sendnow .infoname {
    padding: 5px 8px;
    border: 1px solid #dadada;
    font-size: 14px;
    color: #333;
    float: left;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.sortcomment {
    display: block;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.sortcomment a {
    float: left;
    font-size: 13px;
    color: #4a90e2;
    padding: 6px 12px;
}

.sortcomment a.activedsort {
    background: #ececec;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.sortcomment span {
    float: left;
    font-size: 13px;
    color: #999;
    padding: 6px 12px;
}

.infocomment {
    display: block;
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.comment_ask {
    display: block;
    overflow: visible;
    margin: 10px 0 0;
}

.iconcom-user {
    width: 25px;
    height: 25px;
    background-image: none;
    background-color: #ccc;
    margin-right: 7px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
}

.comment_ask strong {
    font-size: 14px;
    color: #333;
    text-transform: capitalize;
}

.infocom_ask {
    display: block;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 22px;
    margin-left: 30px;
}

.relate_infocom {
    display: block;
    overflow: visible;
    height: 28px; /* padding: 5px 0; */
    font-size: 12px;
    color: #666;
    margin-left: 30px;
    line-height: 28px;
}

.relate_infocom span {
    float: left;
}

.relate_infocom .reply {
    cursor: pointer;
    color: #4a90e2;
}

.relate_infocom .dot {
    float: left;
    display: inline;
    font-size: 8px;
    vertical-align: middle;
    margin: 2px 5px;
    color: #babbb8;
}

.relate_infocom .numlike {
    color: #999;
}

.relate_infocom span .like {
    color: #4a90e2;
    font-weight: bold;
}

.comment_reply {
    display: block;
    margin-top: 5px;
    position: relative;
    background: #f1f1f1;
    border: 1px solid #e7e7e7;
    padding: 15px 10px;
    font-size: 14px;
    color: #333;
    margin-left: 30px;
}

.arrow_box {
    position: relative;
    left: 7px;
    display: block;
    margin-top: -15px;
    z-index: 9;
    background: #f1f1f1;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:before {
    border-bottom-color: #e7e7e7;
    border-width: 12px;
    margin-left: -12px;
}

.arrow_box:after {
    border-bottom-color: #f1f1f1;
    border-width: 11px;
    margin-left: -11px;
}

.comment_ask img.imgU {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 7px !important;
    vertical-align: middle;
}

.comment_ask .qtv {
    text-transform: uppercase;
    margin-right: 10px;
    color: #000;
    font-weight: normal;
    font-size: 10px;
    background: #eebc49;
    padding: 2px 6px;
    border-radius: 3px;
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}

.wrap-attaddsend > .motionsend > a {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    border: 1px solid #4a90e2;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #4a90e2;
}

.wrap-attaddsend .motionsend .usermember {
    float: right;
    cursor: pointer;
    margin: 3px 10px 0 0;
}

.wrap-attaddsend .motionsend .usermember span {
    display: inline-block;
    float: left;
    padding: 4px 0 0;
    border: 0;
    font-size: 14px;
    margin: 0 5px;
}

.wrap-attaddsend .motionsend .usermember div {
    float: left;
    width: 25px;
    height: 25px;
    background: #ccc;
    margin-right: 7px;
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.wrap-attaddsend .motionsend .usermember a {
    display: inline-block;
    padding: 4px 0 0;
    border: 0;
    font-size: 14px;
    color: #4a90e2;
    margin: 0;
}

.detail-rating-info {
    border: 1px solid #d2d2d2;
    padding: 15px 20px;
    margin-bottom: 20px;
}

h3.detail-title {
    font-size: 28px;
    line-height: 37px;
    font-weight: normal;
    margin-bottom: 25px;
    font-weight: 300;
}

.detail-rating {
    margin-top: 10px;
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
}

.detail-rating .rating {
    padding: 0;
}

.icon-star-list .active {
    color: #f86900;
}

.box-detail-rating .detail-rating {
    display: block;
}

.detail-rating-dropdown {
    display: none;
    border: 1px solid #d2d2d2;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

.dt-ra-head {
    font-weight: 300;
    text-align: center;
    margin: 5px 0 15px;
    font-size: 13px;
}

.dt-ra-row {
    display: table;
    width: 100%;
    margin-bottom: 12px;
}

.dt-ra-col30 {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.dt-ra-imguser {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.dt-ra-col70 {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

.dt-ra-textarea {
    width: 100%;
    height: 55px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

.dt-ra-bnt {
    padding: 6px 15px;
    background: #d41212;
    color: #fff;
    font-size: 14px;
    border: 0;
    margin-bottom: 5px;
    outline: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}

.dt-ra-bnt:hover {
    background: #aa0e0e;
    color: #fff;
}

.detail-rating-mark {
    margin-bottom: 20px;
    color: #949495;
}
/****** Style Star Rating Widget *****/
.rating {
    border: none;
    float: left;
    margin: 0 auto;
    padding: 0px 0 0 0;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 0 3px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}
/* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

.rating-item {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.rating-item > span {
    display: inline-block;
    position: relative;
}

.rating-item > span.rating-level {
    width: 20%;
    color: #0082f1;
}

.rating-item > span.rating-bar {
    width: 52%;
    background: #d4d4d4;
    height: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 1px 1px 4px -1px rgba(0,0,0,.3);
}

.rating-item > span > span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: #ffa63e;
    box-shadow: inset 0 1px 4px -1px rgba(0,0,0,.4);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.rating-item > span.rating-counter {
    margin-left: 25px;
}

.hei50 {
    height: 100px;
}

.mg30 {
    margin-left: 30px;
    position: relative;
}

.cm_bt {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0px 15px;
}

.btn-gui {
    border: 1px solid #ed1c24;
    background: #ed1c24;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.comment_ask strong.admin {
    background: url(/Data/upload/images/eurocook%20germany.png) no-repeat 0 0 / 71px 15px;
    text-indent: -9999px;
    float: left;
    width: 100%;
    height: 15px;
}

.bankBox {
    display: none;
}

ul.listBankATM {
    /* height: 91px; */
    /* overflow-y: scroll; */
}

.img-bank {
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.detail-bank {
    width: 80%;
    display: inline-block;
    padding-left: 25px;
}

.detail-bank p {
    margin-bottom: 5px;
}

/*Mua hàng online*/
.all.box-product {
    float: left;
    width: 100%;
    background: #f2f5f7;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 13px;
}

.img-product {
    float: left;
    width: 20%;
    text-align: center;
}

.img-product img {
    width: 100px;
}

.infor-product {
    float: left;
    width: 40%;
    margin: 0 2%;
}

.infor-product b {
    font: 15px/20px arial;
    display: block;
}

.infor-product ul {
    float: left;
    padding: 0;
    margin: 5px 0 0;
}

.infor-product li {
    float: left;
    width: 100%;
    font: 12px/20px arial;
}

p.price-product {
    float: left;
    width: 35%;
    font: 12px/20px arial;
    padding-right: 2%;
    text-align: right;
}

.price-product span:nth-child(1) {
    color: #666;
}

.price-product span {
    display: block;
}

.price-product span:nth-child(1) b {
    color: red;
}

.price-product span:nth-child(2) {
    color: #57ac60;
}

button.btn.btn-primary.btn-block {
    float: right;
    background: rgb(221, 29, 27) !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a.btn.btn-primary.btn-block {
    background: rgb(221, 29, 27) !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

label.newyear {
    background: #ff6a00;
    padding: 5px;
    border-radius: 10px 0 10px 0;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    /* position: absolute; */
    top: 5px;
    left: 5px;
    line-height: 1;
    padding-top: 5px;
    text-transform: uppercase;
    z-index: 3;
}

.price-box {
}

.Parameter {
    min-height: 27px;
}

.price-box .c-price {
    font-weight: bold;
    font-size: 17px;
    color: #c10017;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.price-box .c-price-old {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 10px 0 0;
    text-decoration: line-through;
    font-size: 15px;
}

.page-title {
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    color: #333;
}
.article-content h3.title-content{
    font-size: 17px;
    padding: 10px;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-bordered > tbody > tr > td:first-child {
    background-color: #F7F7F7 !important;
}
.table-bordered tr td:first-child {
    width: 45%;
}
.table-bordered tr td {
    border: 1px solid #ddd;
}
.table-bordered tr td {
    padding: 10px;
    box-sizing: border-box;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.item-brand {
    font-size: 15px;
    padding: 0 0 10px;
    color: #666;
}
.item-brand a{
    color: #0074c1;
    font-weight: bold;
}
.pd_summary ul {
    padding-left: 17px;
}
.pd_summary ul li {
    list-style-type: square;
}
.post_content h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.post_content ul {
    padding: 0 0 0 20px;
}
.post_content ul li {
    list-style-type: square;
    margin: 0 0 10px 0;
}
#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #999;
    opacity: 0.7;
    display: none;
}
#load-more {
    float: left;
    width: 100%;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d)
}