#slider_container_2 { float: left; margin: 0 0 0 -15px; padding: 15px; width: 100%; background: url(../img/bg.png) no-repeat 0 0; }

.SliderName_2 {
	float: left;
	width: 100%;
	overflow: hidden;
}

.SliderNamePrev_2 {
	background: url(../img/left.png) no-repeat left center;
	width: 50px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}

.SliderNameNext_2 {
	background: url(../img/right.png) no-repeat right center;
	width: 50px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.SliderName_2Description {
	padding: 10px;
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}

#SliderNameNavigation_2 { margin: auto; padding: 0px 0 0 0; height: 32px; text-align: center; float:left;  width:100%; overflow-y: hidden; }

#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
}

#SliderNameNavigation_2 a img
{
	border: none;
	width: 31px;
	height: 32px;
	background: url(../img/icon_web.png) no-repeat center center;
    background-position: -35px -79px;
}

#SliderNameNavigation_2 a.active img
{
	background: url(../img/icon_web.png) no-repeat center center;
    background-position: 0px -79px;
}