﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<div class="flexCen">
    <a href="//www.dmca.com/Protection/Status.aspx?ID=39a31db3-04e6-47b3-b1f9-d03ae2501108&refurl=https://bepnamduong.vn" rel="nofollow" target="_blank" class="bg dmca dmca-badge">&nbsp;</a>
    <a target="_blank" href="http://www.online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=13025" rel="nofollow" class="bg bct">&nbsp;</a>
    <a href="javascript:void(0)" class="switchview" title="Xem phiên bản mobile" rel="nofollow">Xem phiên bản mobile</a>
</div>