﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>



<ul itemprop="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#" class="page-breadcrumb">
    <%= Utils.GetMapPage2(ViewPage.CurrentPage) %>
</ul>
