﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<h3 class="heading"><span>Kết nối với chúng tôi</span></h3>
<div class="bg-ft">
    <div id="fb-root"></div>
    <div class="fb-page" data-href="{RS:Social_Facebook}" data-tabs="timeline" data-height="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/webviet24h" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/webviet24h">Thiết kế website chuyên nghiệp</a></blockquote></div>
</div>
