﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<div class="footer all">
    <form method="post" name="state_form" action="{ActionForm}">
        <div class="view-desktop all"><a href="javascript:void(0)" onclick="document.state_form.submit()">Phiên bản Desktop</a></div>
        <input type="hidden" name="_vsw_action[CStatic-ChangeState-MobileFooter]" />
        <input type="submit" name="_vsw_action[CStatic-ChangeState-MobileFooter]" style="display: none" />
    </form>
    <div class="social-wrapper all">
        <div class="socialGroup2">
            <a class="fbIcon" href="https://www.facebook.com/eurocook?fref=ts" rel="nofollow"></a>
            <a class="twitterIcon" href="https://www.facebook.com/eurocook?fref=ts" rel="nofollow"></a>
            <a class="ytIcon" href="https://www.facebook.com/eurocook?fref=ts" rel="nofollow"></a>
            <a class="pinterestIcon" href="https://www.facebook.com/eurocook?fref=ts" rel="nofollow"></a>
            <a class="gogleIcon" href="https://www.facebook.com/eurocook?fref=ts" rel="nofollow"></a>

        </div>
    </div>
</div>