﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<div class="profiles">
                                <p class="image">
                                    <img src="uploads/avarta.png" height="45" width="45" alt=""></p>
                                <p class="name">Tài khoản của</p>
                                <h6>Shop Thời Trang</h6>
                            </div>
                            <ul class="menu-list">
                                <li class="item active"><a href=""><i class="fa fa-user"></i>Thông tin tài khoản</a></li>
                                <li class="item "><a href=""><i class="fa fa-inbox"></i>Quản lý đơn hàng</a></li>
                                <li class="item "><a href=""><i class="fa fa-map-marker"></i>Sổ địa chỉ</a></li>
                                <li class="item"><a href=""><i class="fa fa-credit-card"></i>Thông tin thanh toán</a></li>
                                <li class="item"><a href=""><i class="fa fa-shopping-cart"></i>Nhận xét sản phẩm đã mua</a></li>
                                <li class="item"><a href=""><i class="fa fa-eye"></i>Sản phẩm bạn đã xem</a></li>
                                <li class="item"><a href=""><i class="fa fa-comments-o"></i>Nhận xét của tôi</a></li>
                                <li class="item"><a href=""><i class="fa fa-gift"></i>Mã giảm giá</a></li>
                            </ul>
                            <div class="img">
                                <img src="images/icon_verified.png" alt="">
                            </div>








<div class="side-content">
    <div class="heading"><a href="javascript:void(0)" rel="nofollow">Ô tô Hải phòng</a></div>
    <div class="add-t mb15">
        Địa chỉ: 12A, 508 Láng, Đống Đa, Hà Nội<br />
        Điện thoại: 04 6686 9898<br />
        Email: info@webviet24h.com
    </div>
    <ul class="list-ft clear">
        <li><a href="javascript:void(0)" rel="nofollow">0904.064.064</a></li>
        <li><a href="javascript:void(0)" rel="nofollow"><img src="images/logo.png" alt=""></a> </li>
    </ul>
</div>