﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<%
   
    var model = ViewBag.Model as MBusinessMaketingModel;
    var _webUser = ViewBag.User as ModWebUserEntity;
    
%>
