﻿#vote table {
  border-collapse: collapse;
  width: 100%;
}
#vote table .header {
  background: none repeat scroll 0 0 #f00;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: bold;
  height: 40px;
  padding: 0 10px;
}
#vote table .content{
    background:#fff;
    color:#333;
    font-weight:bold;
    border: 1px solid #ccc;
    padding:10px;
}
#vote table .row {
  float: left;
  height: 5px;
  margin: 15px 0;
  width: 100%;
}
#vote table .col1{
    width:30%;
    float:left;
    line-height:5px;
}
#vote table .col2{
    width:50%;
    float:left;
    background:#0ff;
    line-height:5px;
}
#vote table .col3{
    width:20%;
    float:left;
    text-align:right;
    line-height:5px;
}
#vote table .blue{
    background:#f00;
    height:5px;
    float:left;
}
