/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.flexslider .slides .capital{
    position: absolute;
    top: 50%;
    right: 90px;
    border-bottom: 2px solid #fff;
    margin: -25px 0 0 0;
    z-index: 0;
}
.flexslider .slides .capital a{
	color: #fff;
	font-size: 40px;
}
.flexslider .slides .capital:hover{
	border-bottom:2px solid #CECECE;
}
.flexslider .slides .capital:hover a{
	color: #CECECE;
}

.flexslider .slides .capital-2{
    position: absolute;
    top: 60%;
    right: 90px;
    margin: -25px 0 0 0;
    z-index: 0;
	color: #fff;
	font-size: 20px;
}
.flexslider .slides .capital-3{
    position: absolute;
    top: 65%;
    right: 90px;
    margin: -25px 0 0 0;
    z-index: 0;
	color: #fff;
	font-size: 20px;
}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; position: relative; z-index: 1;}
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
    z-index: 2;
*height: 0;}
.flex-direction-nav a { 
	text-decoration:none; 
	display: block; 
	width: 90px;
	height: 90px;
	margin: -45px 0 0;
	position: absolute;
	top: 50%; 
	z-index: 9998; 
	overflow: hidden; 
	cursor: pointer; 
	text-indent: 999px !important;
}

.flex-direction-nav .flex-prev { 
	left: 0;
	opacity: 1; 
	background: url(next.png) center no-repeat;
	background-size: auto 100%;
    display:none;
}
.flex-direction-nav .flex-next {
	right: 0;
	text-align: right; 
	opacity: 1; 
	background: url(prev.png) center no-repeat;  
	background-size: auto 100%;
    display:none;
}

.flex-direction-nav .flex-next:hover{
	background: url(prev-ac.png) center no-repeat;  
	background-size: auto 100%;
}
.flex-direction-nav .flex-prev:hover{
	background: url(next-ac.png) center no-repeat;
	background-size: auto 100%;
}

.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
/*
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
*/
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}