﻿@charset "utf-8";
/* CSS Document */
/* thoan.nguyen122@gmail.com */
.box-cc {
  background: none repeat scroll 0 0 #FFFFFF;
}
.tb-top {
  height: 41px;
  overflow: hidden;
  padding: 0 0 0 10px;
}
.tb-blue {
  background: none repeat scroll 0 0 #D0EBFA;
}
.thoitiet-cell {
  padding: 5px;
}
.tb-grey1 {
  background: none repeat scroll 0 0 #ECECEC;
}
.tt-sub-pic {
  height: 65px;
}
.tt-sub-text {
  width: 105px;
}
.tinh-tp {
  background: none repeat scroll 0 0 #0A6EBA;
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px 10px;
}
.tinh-tp h3 {
  margin: 0;
  padding: 0;
}
.tinh-tp strong {
  color: #FFFFFF;
  font-size: 13px;
}
.tb-giaVang {
  background: none repeat scroll 0 0 #E2C089;
}
.giaVangHeader {
  color: #000000;
  font-weight: bold;
  height: 40px;
  margin: 1px 0 0;
  text-align: center;
}
.giaVangHeaderDate {
  color: #FF0000;
  font-style: italic;
}
.giaVangHeader2 {
  background: none repeat scroll 0 0 #D99528;
  color: #FFFFFF;
  font-weight: bold;
  height: 28px;
  margin: 1px;
  padding: 0 0 0 10px;
}
.cellGrey-sub {
  background: none repeat scroll 0 0 #F9F9F9;
  color: #9C4E03;
  font-weight: bold;
  height: 16px;
  padding: 0 0 0 10px;
}
.cellWhite {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 28px;
  padding: 0 0 0 10px;
}
.cellYellow {
  background: none repeat scroll 0 0 #FFFDD6;
  font-weight: bold;
  height: 28px;
  padding: 0 0 0 10px;
}
.loaiVang {
  color: #000000;
  font-weight: bold;
}
.cellGrey {
  background: none repeat scroll 0 0 #F4F4F4;
  font-size: 12px;
  height: 28px;
  padding: 0;
  text-align: center;
}

.danhmuc_small {
  padding: 6px 0 0;
}
.danhmuc_small li {
  border-bottom: 1px dotted #4C4C4C;
  padding-left: 8px;
}
.danhmuc_small li a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  color: #166AAA;
  display: block;
  font-weight: bold;
  padding: 6px 0 6px 7px;
}
.ttcb-giaVang {
  background: url("images/icon_GIAVANG.gif") no-repeat scroll 10px 0 rgba(0, 0, 0, 0);
}
.ttcb-tiGiaNgoaiTe {
  background: url("images/icon_NGOAITE.gif") no-repeat scroll 10px 0 rgba(0, 0, 0, 0);
}
.ttcb-thoiTiet {
  background: url("images/icon_THOITIET.gif") no-repeat scroll 10px 0 rgba(0, 0, 0, 0);
}
/*kq xs*/
.bg_menu_footer{
	background:url(../images/bg-menu-footer.gif) top left repeat-x;
	height:48px;
}

.info_footer{
	font-family:Arial, Helvetica, sans-serif; color:#333; text-align:right; padding-right:20px;
	line-height:20px; font-size:11px; font-weight:normal; 
	padding-top:10px; padding-bottom:20px;
}

.tcat_box_red{
	background:url(../images/bg-box-red.gif) top left repeat-x #FF0000;
	height:50px;
	font-family:Arial, Helvetica, sans-serif; color:#fff; text-align:center; font-weight:bold; font-size:14px;
	line-height:22px;
}
.ten_xo_so{
	font-size:18px; font-weight:bold; line-height:24px; color:#FFFFFF;
}

.tcat_box_yellow{
	background:url(../images/bg-center.gif) top left repeat-x #FFFF00;
	height:44px;
	font-family:Arial, Helvetica, sans-serif; color:#fff; text-align:center; font-weight:bold; font-size:14px;
	line-height:44px;
}
.tcat_box_main_yellow{
	background-color:#e4932b;
	height:34px;
	font-family:Arial, Helvetica, sans-serif; color:#fff; text-align:center; font-weight:bold; font-size:14px;
	line-height:34px;
}

.tcat_box_main_yellow_2{
	background-color:#f2cf2d;
	height:34px;
	font-family:Arial, Helvetica, sans-serif; color:#000; text-align:center; font-weight:bold; font-size:14px;
	line-height:34px;
}
.tcat_box_main_yellow_2 a{
	text-decoration:none; color:#000;
}
.tcat_box_main_yellow_2 a:hover{
	text-decoration:underline; color:#000;
}

.left_mnu_001 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	color:#000;
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	height:100%;
	text-indent:32px;
	line-height:27px;
	padding-top:6px; padding-bottom:6px;
}
.left_mnu_001 a {
	text-decoration:none;
	color:#000;
	display:block;
	background:url(../images/star-icon.gif) left no-repeat;
	background-position:14px
}
.left_mnu_001 a:hover {
	text-decoration:none;
	color:#000;
	background:url(../images/star-icon-over.gif) left no-repeat #f1f1f1;
	background-position:14px
}

.scroll-div {
	overflow-y:auto;
	overflow-x:hidden;	
	height:100%;width:206px;
	background-color:red
}
.scroll-div a {
	font-family:Arial, Helvetica, sans-serif;color:#000;text-align:left;font-size:14px;font-weight:bold;text-decoration:none;
	background:url(../images/bullet-icon.gif) 8px 16px no-repeat #fff;
	display:block;padding-left:25px;padding-top:10px; padding-right:10px; padding-bottom:10px; line-height:21px;
	border-bottom:1px solid #c2c2c2;
}
.scroll-div a:hover {
	text-decoration:none;
	color:#000;
	background:url(../images/bullet-icon-over.gif) 8px 16px no-repeat #ffe9cc;
}
.mnu_right {
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	height:100%;
}
.mnu_right a {
	font-family:Arial, Helvetica, sans-serif;color:#000;text-align:left;font-size:14px;font-weight:bold;text-decoration:none;
	background-color:#fff;
	display:block;padding-left:45px;padding-top:10px; padding-right:10px; padding-bottom:10px; line-height:21px;
	border-bottom:1px solid #c2c2c2;
}
.mnu_right a:hover {
	text-decoration:underline;
	color:#000;
}

.mnu_result_box {
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	height:100%;
}
.mnu_result_box a {
	font-family:Arial, Helvetica, sans-serif;color:#000;text-align:left;font-size:14px;font-weight:normal;text-decoration:none;
	background:url(../images/bullet-icon.gif) 16px 8px no-repeat #fff;
	display:block;padding-left:35px;padding-top:0px; padding-right:4px; padding-bottom:0px; line-height:22px;
}
.mnu_result_box a:hover {
	text-decoration:none;
	color:#000;
	background:url(../images/bullet-icon-over.gif) 16px 8px no-repeat #ffe9cc;
}

.ma_sms{
	font-family:Arial, Helvetica, sans-serif; color:#000; font-size:15px; font-weight:normal; text-align:left;
	padding: 5px; line-height:22px;
}
div.cuphap{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px; font-weight:bold; color:#e02020; text-align:center; line-height:36px;
}
.name_tbl_ketquaxs{
	font-family:Arial, Helvetica, sans-serif; color:#707070; font-size:13px; font-weight:bold; font-style:italic;
	line-height:24px; text-align:left; padding-left:10px;
	border-right:1px solid #e4a24d;
}
.tengiai{
	font-family:Arial, Helvetica, sans-serif; color:#000; text-align:left; 
	padding-left:10px; font-weight:bold; font-size:14px; line-height:26px;
}
.number_kq{
	font-family:Arial, Helvetica, sans-serif; color:#000; text-align:center; 
	font-weight:normal; font-size:14px;
}

.soicau{
	font-family:Arial, Helvetica, sans-serif; color:#000; text-align:center; 
	 font-weight:bold; font-size:13px; line-height:23px;
}

.bottom_tbl_kq{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; padding:10px; font-size:13px; font-weight:normal;
	background-color:#f5ecae;
}
.bottom_tbl_kq a{text-decoration:underline; color:#FF0000;}
.bottom_tbl_kq a:hover{text-decoration:none; color:#FF0000;}

.tcat_lichquayxoso{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center; font-weight:normal; font-size:14px;
	padding-top:10px; padding-bottom:10px;
}

.ct_lichquayxoso{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:normal; font-size:13px;
	padding-top:10px; padding-bottom:10px; padding-left:10px;
}

.tinhnang{
	padding:15px; line-height:22px; padding-left:30px;
	font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:normal;
}

.cbb_tinhnang{ padding:5px; line-height:22px; padding-left:30px; text-align:left;
	font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:normal;}

.frm_phantich2so{
	width:190px; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal;
	text-align:left;
	border:1px solid #7d7e7d;
}
.ddmmyy{
	width:62px; 
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal;
	text-align:left;
	border:1px solid #7d7e7d;
	margin-top:6px;
	margin-bottom:6px;
}

.l_tbl_phantichcapso{
	font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; text-align:center;
	padding:10px;
}
.c_tbl_phantichcapso{
	font-family:Arial, Helvetica, sans-serif; text-align:left;  font-size:13px;
	text-align:left; padding-left:20px; line-height:36px;
}

.doivoi_giaidb{
	font-family:Arial, Helvetica, sans-serif; color:#000; text-align:left; 
	padding-left:25px; font-weight:bold; font-size:16px;
	background-color:#fac777; line-height:34px;
	border-bottom:1px solid #e5952e;
}

.lbl_feedback{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; line-height:36px; font-size:13px; font-weight:bold;
}
.input_feedback{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; padding-left:10px; font-size:13px; font-weight:normal;
	border:1px solid #7d7e7d; background-color:#FFFFFF; width:190px;
}
.input_feedback2{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; padding-left:10px; font-size:13px; font-weight:normal;
	border:1px solid #7d7e7d; background-color:#FFFFFF; width:350px; height:200px;
}
.number_number{
	color:#3c8c0b; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px;
}

.h_ketqua{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; padding-left:20px; 
	line-height:28px; font-size:16px; font-weight:bold;
}
.h_ketqua_comment{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; padding-left:10px; 
	line-height:20px; font-size:13px; font-weight:normal; line-height:24px;
}

.tieudebang_thongkechitiet{
	font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:center; font-size:13px; font-weight:bold;
	line-height:24px; padding-left:4px; padding-right:4px;
}
.solan{
	font-family:Arial, Helvetica, sans-serif; font-size:11px;
}

.scroll_div_thongke {
	overflow-y:hidden;
	overflow-x:hidden;
	width:100%;
	height:620px;
	display:block;
}

.menu_tragiai{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;
	color:#000; text-align:center;
}
.menu_tragiai a{text-decoration:none; color:#000;
	display:inline-block; padding-left:6px; padding-right:6px;
}
.menu_tragiai a:hover{text-decoration:underline; color:#fff;}
.star_year{
	font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;
	color:#636363; text-align:right; padding-right:10px;
}
.intrang_xemall{
	font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal;
	color:#707070; text-align:left; padding-left::10px;
}
.intrang_xemall a{text-decoration:none; color:#707070}
.intrang_xemall a:hover{text-decoration:underline; color:#ae1013}

.t_tbl_dudoan1so{
	font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:14px; font-weight:bold;
	line-height:33px; background-color:#fad789; text-align:center;
}

.cac_buoc{
	font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:bold;
	line-height:24px; text-align:left;
	padding-left:60px;
}
.xembangdudoan{
	font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold;
	line-height:30px; text-align:left; color:#3c8c0b;
}
.xembangdudoan a{text-decoration:none; color:#3c8c0b;}
.xembangdudoan a:hover{text-decoration:underline;color:#3c8c0b;}

.so_luot_dudoan{
	font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:13px; font-weight:bold;
	line-height:24px; text-align:center;
}

.paging{
	font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:center; font-weight:normal; color:#7d7d7d;
	line-height:20px;
}
.paging a{text-decoration:none; color:#7d7d7d; display:inline-block; padding-left:4px; padding-right:4px;}
.paging a:hover{text-decoration:none; color:#7d7d7d;  background-color:#fbf28d}
.search_sodudoan{
	font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:left; font-weight:normal; color:#000;
	line-height:22px; padding-left:10px;
}

img{border:0;}
.menu_font{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; text-align:center; 
	display:block; height:34px; width:100%; line-height:34px;
}
.menu_font a{display:inline-block; padding-left:1px; padding-right:10px; text-decoration:none; color:#000;}
.menu_font a:hover{text-decoration:none; color:#ac1112;}

.sub_menu{
	display:block;
	position:absolute;
	visibility:hidden;
	width:200px;
	height:auto;
	border:1px solid #cfcece;
	border-bottom:none;
	left: 225px;
	top: 167px;
	z-index:100;
	background-color:#dedcdc;
	margin-top:-2px;
}

.sub_menu a{
	display:block;line-height:21px;
	text-decoration:none; color:#000000;
	border-bottom:1px solid #cfcece;
	
	background:4px 6px no-repeat #f5f5f5;
	font-family:Arial, Helvetica, sans-serif; color:#333; font-size:14px; font-weight:bold;
	text-align:left; padding-left:20px;
}
.sub_menu a:hover{
	display:block; 
	text-decoration:none; color:#ac1112;
	background:4px 6px no-repeat #fff;
}

p {
	padding: 0;
	margin: 0;
}

.active {
	color: #FF0000 !important;
	font-weight: bold;
}

#content {
	padding-bottom: 10px;
	width: 776px;
}

.thongke_db:hover {
	color: #ffffff;
}


.thongke_db_smonth {
	color: #ff0000 !important;
}

.thongke_db_sweek {
	color: #ff0000 !important;
}

.thongke_db_s2month {
	color: #ff0000 !important;
}

.thongke_db_s2week {
	color: #ff0000 !important;
}

#top-pg {
	position: relative;
}

.clock_layout{	
	position: absolute;
	top: 37px;
	left: 43px;
} 
/*
Code BLock
*/
.user-info {
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	text-align:left;
	padding-left:10px;
	color:#FFF;
	line-height:24px;
}

.txt-001{
	font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#000; text-align:center;
	line-height:20px;
	margin-left:60px; margin-top:10px; margin-right:20px;
}
div.codeOverlay {
	position: fixed;
	width:100%;
	top: 200px;
	left: 400px;
	z-index: 1606;
	font-weight:bold;
	font-size:12px;
	display:none;
}
div.codeHolder {
	margin:0px;
	z-index: 2512;
	width:564px;
	text-align:center;
}

div.codeBlock {
	margin:0px;
	min-height:100px;
	background-color:whitesmoke;
	border:2px solid #FFFFFF;
	padding:0px;
	height:400px;
}
.info{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-align:left;
	color:#F00; line-height:28px;
	margin-left:20px; margin-top:10px;
}
.fields{
	width:auto;
	background:none;
	border-bottom:1px dotted #F00;
	border-top:none; border-right:none; border-left:none;
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000; text-align:left; margin-left:15px;
}
/* End Game */

.sub-menu-collapse{
	display:block; position:relative;
	width:100%; height:100%; 
	margin-top:5px; margin-bottom:5px;
	
	font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-align:left;
}
.sub-menu-collapse a{text-decoration:none; color:#fff; display:block; line-height:24px; padding-left:30px;
	background:url(../images/bullet-icon.gif) 10px no-repeat;
}

.sub-menu-collapse a:hover{text-decoration:none; color:#333;background:url(../images/bullet-icon-over.gif) 10px no-repeat #fbfbfb;}

.sub-menu-collapse a._active {text-decoration:none; color:#333;background:url(../images/bullet-icon-over.gif) 10px no-repeat #fbfbfb;}
.header-tieude-phu{
	position:absolute;top:95px;left:110px;font-size:9px;width:160px;line-height:10px;text-align:left;
}
.header-tieude-phu a{
	color:#000;text-decoration:none;
}
.header-tieude-phu a:hover{
	text-decoration:underline;
}

.red-box{width:210px;padding-top:5px;}
.red-box-t{width:210px;height:4px;background:url(../images/red-box-t.gif) no-repeat;overflow:hidden;}
.red-box-title{width:210px;height:21px;padding-top:2px;background:url(../images/red-box-title.gif) repeat-x;color:#fff;font-weight:bold;font-size:14px;overflow:hidden;}
.red-box-title a{color:#fff;text-decoration:none;}
/*.red-box-title a:hover{color:#FF0;}*/
.red-box-c{width:195px;padding:10px 5px 5px 8px;border-left:#acacac solid 1px;border-right:#acacac solid 1px;text-align:left;}
.red-box-b{width:210px;height:4px;background:url(../images/red-box-b.gif) no-repeat;overflow:hidden;}

.size18{font-size:18px;}
.size15{font-size:15px;}
.size12{font-size:12px;}

.videos-box{ position:relative; padding:0px 10px 15px 10px; overflow:hidden}
.videos-box a { text-decoration:none!important}
.video-one{float:left; width:132px; padding-top:8px; height:172px}
.video-one .video-img{width:100px; position:relative; margin:0 auto}
.video-one .video-title{width:125px; position:relative; margin:0 auto}
.cls_pagging, .pagination_data, .prev, .next { text-decoration:none}
#divVideo .pagingArea{ position:relative; padding: 0px 10px 10px 0px;width:auto; float:right}


.video-title{font-size:18px;padding-top:5px;text-align:center;}
.video{padding:15px 0;text-align:center;}
.video-khac-title{border-bottom: 1px solid rgb(228, 147, 43);border-top: 1px solid rgb(228, 147, 43);text-align:center;font-size:17px;font-weight:bold;background-color:#f5ecae;padding:10px;}

.thumb-100{width:100px;height:100px;border:#dddddd solid 1px;}
.video-icon{    border:0px;    position:absolute;    margin-left:8px;    margin-top:75px;}
.videoName{    padding:5px 5px 10px 5px;}
.videoNameLink{	font-size:12px;	color:#000000;font-weight:bold;	text-decoration:none;}
.videoNameLink:hover{color:#a40e10;}
.phantrang{font-family:Arial,Helvetica,sans-serif;color:#333;text-align:right;font-weight:normal;font-size:11px;padding-right:10px}.phantrang a{text-decoration:none;color:#333}.phantrang a:hover{text-decoration:underline;color:#a40e10;}

.news-list{}
.news-list a{display:block;background:url(../images/icon-red.gif) no-repeat 0px 5px;color:#000;text-decoration:none;padding-left:10px;margin-bottom:8px;}
.news-list a:hover{display:block;background:url(../images/icon-red-over.gif) no-repeat 0px 5px;color:#a40e10;}
.news-list ul,li{list-style:none;padding:0;margin:0;}

.tttt-title{font-size:17px;font-weight:bold;color:#fff;background:url(../images/tt-box-c.gif) repeat-x;text-align:center;}
.content-tab{border-left:1px solid #e59834}
.content-tab{border-right:1px solid #e59834}
.orgran-line-lt{border-left:1px solid #e59834}
.orgran-line-rt{border-right:1px solid #e59834}
.orgran-line-b{border-bottom:1px solid #e59834}
.yellow-line-l{border-left:1px solid #f2cf2d}
.yellow-line-r{border-right:1px solid #f2cf2d}
.yellow-line-b{border-bottom:1px solid #f2cf2d}

.tab-inactive{background-color:#898989;font-size:16px;font-weight:bold;color:#fff;text-align:center}
.tab-inactive a{font-size:16px;font-weight:bold;color:#fff;text-align:center;text-decoration:none;}
.tab-inactive a:hover{color:#FF0;}
.tab-active{background-color:#e59834;font-size:16px;font-weight:bold;color:#fff;text-align:center}
.tab-active a{font-size:16px;font-weight:bold;color:#fff;text-align:center;text-decoration:none;}
.tab-active a:hover{color:#FF0;}

.tttt-wait{color:#ff0000;font-size:18px;text-align:center;padding:10px 0}

.yellow-cell{padding:10px;background:#ffffff;}
.dau-cuoi-title{padding:10px;background:#e2e2e2;font-weight:bold;text-align:center;}
.dau-cuoi-cell{padding:3px 0; text-align:center;border-bottom:#e2e2e2 solid 1px;}
.giai-title{background:#fac784;text-align:center;font-size:14px;padding:5px 0;font-weight:bold;}
.giai-color{background:#fbe6c4;text-align:center;font-size:14px;padding:5px 0;}
.giai-white{background:#fff;text-align:center;font-size:14px;padding:5px 0;line-height:23px;}
.giai-dac-biet{color:#ff0000;font-size:14px;font-weight:bold;}
.bam-day{color:#000000;text-decoration:none;font-size:14px;font-weight:bold;}
.bam-day:hover{color:#FF0;}
.banner-tuong-thuat_MB{background:url(../images/banner_tt_mienbac.gif) no-repeat;width:200px;height:80px;padding:10px 5px;margin-bottom:6px;cursor:pointer;}
.banner-tuong-thuat_MT{background:url(../images/banner_tt_mientrung.gif) no-repeat;width:200px;height:80px;padding:10px 5px;margin-bottom:6px;cursor:pointer;}
.banner-tuong-thuat_MN{background:url(../images/banner_tt_miennam.gif) no-repeat;width:200px;height:80px;padding:10px 5px;margin-bottom:6px;cursor:pointer;}
.tuong-thuat-link{color:#ffffff;font-size:14px;font-weight:bold;text-decoration:none;}
.tuong-thuat-link:hover{color:#fff000;}
.tuong-thuat-link2{color:#fff000;font-size:16px;font-weight:bold;text-decoration:none;}
.tuong-thuat-link2:hover{color:#ffffff;}


.tab_theme{
	background:url('../images/tab-inactive-l.gif') no-repeat  scroll left;	
	height:33px;
	right:20px;	
	width:179px;
	
}

.tab_theme div.right {
	background:url('../images/tab-inactive-r.gif') no-repeat  scroll right;
	height:33px;	
}

.tab_theme div.center {
	/*background:url('theme2/background_bottom.png') repeat-x  scroll center;*/
	width:auto;
	margin:0px 6px;
	height:33px;
	color:#FFFFFF!important;

	background-color:#898989;
	width:167px;
}

.tab_theme div.center div{
	margin: 0pt auto; text-align: center; background: none repeat scroll 0% 0%; _width: 106px; font-weight:bold;
	font-size:16px; _font-size:14px; color:#FFFFFF; position:relative
}

.tab_theme div.center div a{ color:#FFFFFF!important; outline:none}
.tab_theme div.center div a:hover{ color: #CCCCCC!important}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected .tab_theme{
	background:url('../images/tab-active-l.gif') no-repeat  scroll left;	
	height:33px;
	right:20px;		
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected .tab_theme div.right {
	background:url('../images/tab-active-r.gif') no-repeat  scroll right;
	height:33px;	
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected .tab_theme div.center {
	/*background:url('theme2/background_bottom.png') repeat-x  scroll center;*/
	width:auto;
	margin:0px 6px;
	height:33px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#E59834;
	width:167px;
}

.tu-khoa{text-align:justify;padding:0px 5px}
.tu-khoa a{color:#464646;text-decoration:none;margin-right:10px;margin-left:10px;}
.tu-khoa a:hover{text-decoration:underline;}

.dong-ho-bg{background:url(../images/dong-ho-bg.gif) center 20px no-repeat;height:107px;padding:41px 0 10px 203px;*padding-left:35px;_padding-left:35px;}
.dong-ho-num{font-size:31px;color:#FFF}
.btn-bam-day{
	background:url('/images/btn-bam-day.jpg');
}
/*end kq xs*/


.headerInfo {
  background: none repeat scroll 0 0 #000;
  border: 1px none #505050;
}
.headerInfoValue {
  color: #ffff33;
  font-family: Arial;
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.headerInfoValueUp {
  color: #00cc00;
  font-family: Arial;
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.headerInfoValueDown {
  color: #ff0000;
  font-family: Arial;
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.headerInfoValueUnchange {
  color: #ffff00;
  font-family: Arial;
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.header-table {
  background: none repeat scroll 0 0 #000;
}
.headerInfoTitle {
  color: #dddddd;
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.divScroll {
  overflow: hidden;
  width: auto;
}
.tableQuote {
  background-color: #aaaaaa;
  border-color: #909090;
}
.tableHeader2 {
  background-color: #000000;
  border-color: #909090;
  color: #dddddd;
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
.tableHeader3 {
  background-color: #000000;
  border-color: #909090;
  color: #dddddd;
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
.tableHeader4 {
  background-color: #000000;
  border-color: #909090;
  color: #dddddd;
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
.tableHeader5 {
  background-color: #000000;
  border-color: #909090;
  color: #dddddd;
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
.tableHeader10 {
  background-color: #000000;
  border-color: #909090;
  color: #dddddd;
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
}
.quoteRow td {
  background-color: #000000;
  border-width: 0;
  font-weight: bold;
}
.cellCeiling {
  background-color: #111111;
  border-color: #505050;
  color: #ff00ff;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.cellFloor {
  background-color: #111111;
  border-color: #505050;
  color: #00ffff;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.cellRef {
  background-color: #111111;
  border-color: #505050;
  color: #ffff00;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.downPrice {
  background-color: #111111;
  border-color: #505050;
  color: #ff0000;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.unchangePrice {
  background-color: #111111;
  border-color: #505050;
  color: #ffff00;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.upPrice {
  background-color: #111111;
  border-color: #505050;
  color: #00cc00;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.unchangePriceCode a, .unchangePriceCode a:visited {
  color: #ffff00;
  text-decoration: none;
}
.downPriceCode a, .downPriceCode a:visited {
  color: #ff0000;
  text-decoration: none;
}
.cellCeilingCode a, .cellCeilingCode a:visited {
  color: #ff00ff;
  text-decoration: none;
}
.normalVol {
  background-color: #111111;
  border-color: #505050;
  color: #ffffff;
  font-family: arial;
  font-size: 9pt;
  font-weight: normal;
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
  white-space: nowrap;
}
.upPriceCode a, .upPriceCode a:visited {
  color: #00cc00;
  text-decoration: none;
}
.tableFooter {
  background-color: #000000;
  border: 2px solid #505050;
  color: #00cc00;
  font-family: Arial;
  font-size: 10pt;
  font-weight: normal;
  white-space: nowrap;
}
.tableFooter td, .tableFooter span {
  background-color: #000000;
  color: #00cc00;
  white-space: nowrap;
}


#thoitiet,#giavang,#tygia,#chungkhoan{
  display:none;
  width:800px;
  height:600px;
  text-align:center;
}