﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<%
    var model = ViewBag.Model as MForgotModel;
%>

<div class="container">     
    <div class="login-form all">
        <form method="post" class="form-login" name="login_form">
            <label>Email đăng nhập:</label>
            <input type="text" class="form-control" name="Email" value="" placeholder="Nhập địa chỉ email" />
            <input type="submit" class="btn btn-login" name="_vsw_action[AddPOST]" value="Đăng nhập" />
        </form>
    </div>
</div>