﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="VSW.Lib.MVC.ViewControl" %>

<%
    var _Page = ViewBag.Page as SysPageEntity;
    if (_Page == null) return;



    var listItem = ViewBag.Data as List<ModProductEntity>;


%>


<section class="goiyhomnay">
    <div class="container">
        <div class="positionR">
            <h2 class="title-main"><%=_Page.Name %>&nbsp;</h2>
            <span class="update_phobien">Đã cập nhật 3PM</span>
        </div>
        <div class="clearfix"></div>
        <div class="owl-prd-main">
            <ul class="list_product_main_show">
                <%for (int i = 0; listItem != null && i < listItem.Count; i++)
                    {

                %>
                <li>
                    <a href="<%=ViewPage.GetURL(listItem[i].MenuID, listItem[i].Code) %>" class="click-all"></a>
                    <div class="shopee-item-card__preferred-badge-wrapper">
                        <div class="shopee-horizontal-badge shopee-preferred-seller-badge">
                            <svg class="shopee-svg-icon icon-tick" enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0">
                                <g>
                                    <path d="m6.5 13.6c-.2 0-.5-.1-.7-.2l-5.5-4.8c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l4.7 4 6.8-9.4c.3-.4.9-.5 1.4-.2.4.3.5 1 .2 1.4l-7.4 10.3c-.2.2-.4.4-.7.4 0 0 0 0-.1 0z"></path>
                                </g>
                            </svg>Yêu thích
                        </div>
                    </div>
                    <!-- ribon yêu thích -->

                    <div class="shopee-item-card__badge-wrapper">
                        <div class="shopee-badge shopee-badge--fixed-width shopee-badge--promotion">
                            <div class="shopee-badge--promotion__label-wrapper shopee-badge--promotion__label-wrapper--vi-VN">
                                <span class="percent"><%=listItem[i].SellOffPercent %>%</span>
                                <span class="shopee-badge--promotion__label-wrapper__off-label shopee-badge--promotion__label-wrapper__off-label--vi-VN">giảm</span>
                            </div>
                        </div>
                    </div>
                    <!--- ribon sale -->

                    <div class="item-product">
                        <div class="thumb-img-prd">
                            <div class=" responsive-img">
                                <img src="<%=string.IsNullOrEmpty(listItem[i].File)?"": listItem[i].File.Replace("~/","/") %>" alt="<%=listItem[i].Name %>">
                            </div>
                            <%-- <img src="images/icon/revodich.png" class="shopee-item-card__lowest-price" alt="lowest price">--%>
                        </div>

                        <div class="info-item-product">
                            <h3 class="title-product eclip-2"><%=listItem[i].Name %>
                            </h3>
                            <div class="box-price-prd">
                                <div class="shopee-item-card_original-price">₫ <%=string.Format("{0:#,##0}", listItem[i].Price2) %></div>
                                <div class="shopee-item-card__current-price shopee-item-card__current-price--free-shipping">₫ <%=string.Format("{0:#,##0}", listItem[i].Price) %></div>
                            </div>
                            <div class="bottom-icon">
                                <div class="city-prd">
                                    <i class="fa fa-heart"></i>&nbsp;<%=listItem[i].View %>
                                </div>
                                <div class="lead">
                                    <div id="stars-existing" class="starrr" data-rating="3"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
                                    &nbsp;<span class="gray">(33<%=i+1 %>)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hover-info-prd">
                        <h3><%=listItem[i].Name %></h3>
                        <div class="body-div-hover">
                            <div class="header-hover">
                                <strong class="price"><%=string.Format("{0:#,##0}", listItem[i].Price) %> đ</strong> <span>(Đã bao gồm VAT)</span>
                                <%--<p><strong>Bảo hành:&nbsp;</strong>24 Tháng, Đổi mới trong vòng 15 ngày</p>--%>
                                <%--<p><strong>Kho hàng:&nbsp;</strong>Số 49 - Thái Hà - Đống đa - Hà Nội</p>--%>
                            </div>
                            <div class="content-hover-div">
                                <h5>Mô tả tóm tắt</h5>
                                <div class="mota">
                                  <%=listItem[i].Summary %>
                                </div>
                            </div>
                            <%--<div class="footer-hover-div">
                                <p class="red">
                                    <b><i>Khuyến mại thẻ mua hàng trị giá 1 triệu đồng (được quy đổi liên hệ kinh doanh để biết thêm thông tin) - Tặng Balo - Đế tản nhiệt - Bàn di chuột</i></b>
                                </p>
                            </div>--%>
                        </div>
                    </div>
                </li>
                <%} %>
            </ul>
        </div>
        <div class="text-center">
            <a href="<%=ViewPage.GetPageURL(_Page) %>" class="btn btn-xemthem-main">Xem thêm</a>
        </div>
    </div>
</section>

