/*! nouislider - 10.1.0 - 2017-07-28 13:09:54 */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box
}

.noUi-target {
    position: relative;
    direction: ltr
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.noUi-connect {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0
}

.noUi-origin {
    position: absolute;
    height: 0;
    width: 0
}

.noUi-handle {
    position: relative;
    z-index: 1
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    transition: top .3s, right .3s, bottom .3s, left .3s
}

.noUi-state-drag * {
    cursor: inherit!important
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.noUi-horizontal {
    height: 18px
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px
}

.noUi-vertical {
    width: 18px
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px
}

.noUi-target {
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb
}

.noUi-connect {
    background: #3fb8af;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    transition: background .45s
}

.noUi-draggable {
    cursor: ew-resize
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize
}

.noUi-handle {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    cursor: default;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb
}

.noUi-active {
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb
}

.noUi-handle:after,
.noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #e8e7e6;
    left: 14px;
    top: 6px
}

.noUi-handle:after {
    left: 17px
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px
}

.noUi-vertical .noUi-handle:after {
    top: 17px
}

[disabled] .noUi-connect {
    background: #b8b8b8
}

[disabled].noUi-handle,
[disabled] .noUi-handle,
[disabled].noUi-target {
    cursor: not-allowed
}

.noUi-pips,
.noUi-pips * {
    box-sizing: border-box
}

.noUi-pips {
    position: absolute;
    color: #999
}

.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px
}

.noUi-marker {
    position: absolute;
    background: #ccc
}

.noUi-marker-large,
.noUi-marker-sub {
    background: #aaa
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%
}

.noUi-value-horizontal {
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0)
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%
}

.noUi-value-vertical {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    padding-left: 25px
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    white-space: nowrap
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    left: 50%;
    bottom: 120%
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    right: 120%
}

.c-ajax-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.c-ajax-pagination__control {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    min-width: 0
}

.c-ajax-pagination__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%
}

.c-ajax-pagination__page-input {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 0px;
    flex: 2 1 0px;
    min-width: 0;
    padding: 0 .9375rem;
    max-width: 9.375rem
}

.c-ajax-pagination__page-input input {
    text-align: center;
    margin-bottom: 0;
    padding: .3125rem
}

.c-ajax-pagination__next,
.c-ajax-pagination__prev {
    display: block;
    font-size: 1.25rem;
    color: #000
}

.c-ajax-pagination__next:focus,
.c-ajax-pagination__next:hover,
.c-ajax-pagination__prev:focus,
.c-ajax-pagination__prev:hover {
    color: #787882
}

.c-ajax-pagination__next.is-disabled,
.c-ajax-pagination__prev.is-disabled {
    color: #787882;
    cursor: default
}

.c-paginator {
    text-align: center
}

.noUi-horizontal {
    height: 12px
}

.noUi-target {
    border-radius: 5px;
    border: none;
    box-shadow: none;
    margin-bottom: 1.25rem
}

.noUi-connect {
    background-color: #aaa
}

.noUi-base {
    background: #d2d2d2;
    box-shadow: none
}

.noUi-dragable,
.noUi-handle {
    cursor: pointer
}

.noUi-handle {
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
    background: #00a3ba
}

.noUi-handle:focus {
    background: #7ec7d8
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 22px;
    top: -5px
}

.noUi-horizontal .noUi-handle:before {
    font-family: Linearicons;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    color: #fff;
    background: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 22px;
    left: 0;
    top: 0
}

.noUi-horizontal .noUi-handle:after {
    display: none
}

.noUi-horizontal .noUi-origin:first-child .noUi-handle {
    left: -9px
}

.noUi-horizontal .noUi-origin:first-child .noUi-handle:before {
    content: "chevronLeft"
}

.noUi-horizontal .noUi-origin:last-child .noUi-handle {
    left: -9px
}

.noUi-horizontal .noUi-origin:last-child .noUi-handle:before {
    content: "chevronRight"
}

.c-select-dropdown__toggle.has-active-filters {
    color: #787882
}

.c-filter-search {
    position: relative;
    margin-bottom: .625rem
}

.c-filter-search__input {
    height: 2.5rem;
    padding: .3125rem 1.875rem .3125rem .625rem;
    margin-bottom: 0
}

.c-filter-search__icon {
    position: absolute;
    right: .625rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.c-filter-search .o-linear-icon {
    display: block
}

.c-filter-slider .input-group {
    margin-bottom: 0
}

.c-filter-slider .input-group-field,
.c-filter-slider .input-group-label {
    font-size: .875rem
}

.c-filter-slider .input-group-button .button,
.c-filter-slider .input-group-field,
.c-filter-slider .input-group-label {
    padding-left: .375rem;
    padding-right: .375rem
}

.c-filter-slider .input-group-button .button,
.c-filter-slider .input-group-field {
    height: 2.25rem
}

.c-filter-slider .input-group-field {
    text-align: center;
    text-transform: uppercase
}

.c-filter-slider .input-group-field+.input-group-label {
    border-left: 0;
    border-right: 0
}

.c-filter-slider .input-group-field+.input-group-field {
    border-left: 0
}

.c-filter-slider .input-group-button .button {
    font-size: .75rem;
    line-height: 1
}

.c-filter-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.c-filter-tags__tag,
.c-filter-tags__text {
    display: inline-block;
    line-height: 1;
    margin-right: .625rem;
    margin-bottom: .625rem
}

.c-filter-tags__text {
    color: #000;
    padding: .3125rem 0
}

.c-filter-tags__tag {
    color: #fff;
    background-color: #787882;
    font-weight: 500;
    padding: .3125rem
}

.c-filter-tags__tag:focus,
.c-filter-tags__tag:hover {
    color: #fff
}

.c-filter-tags__tag .o-linear-icon {
    padding-left: .3125rem;
    font-weight: 700;
    font-size: .75rem
}

.c-filter-tags+hr {
    margin-top: .625rem
}

.c-product-count {
    padding-top: .34375rem;
    padding-bottom: .34375rem;
    line-height: 1.5rem
}

.c-product-count__options,
.c-product-count__products {
    font-size: 1rem;
    line-height: 1
}

.c-product-count__products {
    color: #000;
    font-weight: 500
}

.c-product-count__options {
    color: #787882;
    font-weight: 400
}

.c-category-control-bar,
.c-category-control-bar__item {
    margin-bottom: .625rem
}

.c-manufacturer-image {
    background-color: #fff;
    padding: .3125rem;
    border: 1px solid #d2d2d2;
    margin-bottom: .9375rem
}

.c-manufacturer-image a {
    display: block;
    text-align: center
}

.faux-cb-filter-list {
    max-height: 12.5rem;
    list-style-type: none;
    overflow-y: auto;
    margin: 0
}

.faux-cb-filter-list.expand-all {
    max-height: 100%
}

.faux-cb-filter-list li {
    cursor: pointer;
    background: url(images/unchecked.png) no-repeat 0 0;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding: .125rem .3125rem .125rem 2.1875rem;
    margin-bottom: 3px;
    min-height: 1.375rem
}

.faux-cb-filter-list li.checked {
    background: url(images/checked.png) no-repeat 0 0
}

.faux-cb-filter-list li.disabled {
    background: url(images/disabled.png) no-repeat 0 0;
    cursor: default;
    color: #d2d2d2
}

.faux-cb-filter-list li.disabled .cb-list-item-count {
    color: #ccc
}

.cb-list-link {
    color: #000
}

.cb-list-link:focus,
.cb-list-link:hover {
    color: #787882
}

.cb-list {
    padding: 0;
    margin: 0
}

.cb-list-item-count {
    font-size: .75rem;
    color: #787882;
    margin-left: 4px
}

.checker-searchbox .checker-searchfield {
    background: url(images/select2.png) no-repeat scroll 13.75em -1.833em transparent;
    background-color: #fff;
    width: 95%;
    height: 2em;
    box-shadow: none;
    border: .1em solid #aaa;
    padding-left: .5em
}

.cb-list-length {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

#category-left .noUi-horizontal.noUi-extended {
    padding-right: 32px
}

#category-left .noUi-horizontal.noUi-extended .noUi-origin {
    right: -32px
}

.o-reset-all-link,
.reset-link {
    display: inline-block
}

.o-reset-all-link .o-linear-icon,
.reset-link .o-linear-icon {
    padding: 0 .3125rem;
    font-weight: 700;
    font-size: .75rem
}

.o-reset-all-link {
    line-height: 1;
    color: #000
}

.o-reset-all-link:focus,
.o-reset-all-link:hover {
    color: #787882
}

.o-reset-all-link--align {
    padding: .3125rem 0
}

.c-filter-tags+.o-reset-all-link {
    margin-top: .3125rem;
    display: block
}

.reset-link {
    font-weight: 500;
    color: #00a3ba;
    margin-bottom: .625rem
}

.reset-link:focus,
.reset-link:hover {
    color: #7ec7d8
}

@media print,
screen and (min-width:64.0625em) {
    #category-top-content {
        margin-bottom: 1rem
    }
}