/* PRINT CCS FILE */


/**
 * print_prod_info.css
 *  reuter.de
 *  04.2015
 */

body {
    background: none;
}

h1 {
    font-size: 1em;
}

#print-footer {
    display: block;
}

#print-header {
    display: block;
}

#content_product_details {
    display: block;
}

#product_thumbnails_wrapper {
    display: none;
}

#top_teaser .span5 {
    display: none;
}

#footer {
    display: none;
}

#main_content hr {
    margin: 0;
}

#main_content {
    width: 100%;
}

.footer {
    display: none;
}

a {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.selectBox-label {
    color: #ccc;
    display: block;
    font-size: 16px;
    line-height: 12px;
}

select {
    color: #ccc;
    display: block;
    font-size: 16px;
    line-height: 12px;
}

.no-print,
.no-print * {
    display: none !important;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    display: none !important;
}

span.email span {
    display: none;
}

.hide,
.hidden-phone,
.hidden-tablet,
.link,
.m-typo3-content,
.btn,
.product_thumbnails_wrapper,
.breadcrumb,
.gray_container,
.teaser,
.navbar-inner,
.header-nav {
    display: none !important;
}
.main_sprite {
    background: url('images/main_sprite_18.png') no-repeat scroll transparent;
}

.checkout_sprite {
    background: url('images/checkout_steps.png') no-repeat scroll transparent;
}

#step_img {
    background: url('images/steps-sprite-02.png') no-repeat scroll transparent;
    width: 100%;
    background-position: 0 0;
    height: 42px;
    margin-top: 10px;
}