﻿@charset "UTF-8";
.c-thumbnail-carousel-container .c-carousel {
    margin-bottom: .5rem;
    margin-top: 10px;
    padding: 0;
    max-height: 6.875rem;
    background-color: #f0f0f0
}

.c-thumbnail-carousel-container .c-carousel .owl-next.disabled,
.c-thumbnail-carousel-container .c-carousel .owl-prev.disabled {
    opacity: .2!important
}

.c-thumbnail-carousel-container .c-carousel .owl-stage-outer {
    height: 6.875rem;
    padding: .625rem 2.625rem;
    width: 99%;
    z-index: 2
}

.c-thumbnail-carousel-container .c-carousel .owl-stage-outer .owl-stage {
    max-height: 90px
}

.c-thumbnail-carousel-container .c-carousel .owl-stage-outer .owl-stage .owl-item {
    max-width: 90px!important
}

.c-thumbnail-carousel-container .c-carousel .owl-nav {
    height: 100%;
    width: 100%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute
}

.c-thumbnail-carousel-container .c-carousel .owl-nav .owl-prev {
    left: 0;
    height: 100%;
    z-index: 3
}

.c-thumbnail-carousel-container .c-carousel .owl-nav .owl-next {
    right: 0;
    height: 100%;
    z-index: 3
}

.c-product-image-container {
    position: relative
}

.o-mag-glass {
    position: absolute;
    top: 300;
    right: 150
}

div[data-qa=detailId6] ul {
    margin-bottom: 0
}

div[data-qa=detailId6] ul:last-of-type {
    margin-bottom: .625rem
}

.c-vertical-icon-button>[class*=icon] {
    color: #000;
    font-size: .95rem;
    font-weight: 700
}

.media-gallery-container {
    margin-bottom: .6rem
}

.c-details-block .has-tip {
    vertical-align: middle;
    padding-left: 0
}

.c-details-block .has-tip .o-linear-icon {
    font-size: 1.25rem
}

.c-details-block__manufacturer-row {
    height: 3.125rem;
    line-height: 3.125rem;
    margin-bottom: .5rem
}

.c-details-block__manufacturer-row img {
    max-height: 50px
}

.c-details-block__text-column {
    padding-top: .4375rem;
    padding-bottom: .4375rem
}

.c-details-block__cod-text .c-icon-headline__icon {
    vertical-align: unset
}

.c-details-block__cod-text .has-tip {
    padding-top: .4rem
}

.c-details-block__cod-text .has-tip .o-linear-icon {
    font-size: 1.25rem
}

.c-manufactor-top-details-icon {
    margin-top: -28px;
    position: relative
}

.c-manufactor-top-details-icon>img {
    margin-bottom: 10px;
    max-height: 60px;
    max-width: 150px;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #fff
}

.c-manufactor-top-details-icon>.c-details-block__top-brand {
    display: inline-block;
    position: absolute;
    margin-top: 16px;
    margin-left: 5px;
    font-size: .625rem
}

.c-details-block__top-brand {
    line-height: 1
}

.o-product-image-tooltip {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    left: 0;
    bottom: 100%;
    position: absolute;
    z-index: 1
}

.custom-dropdown-area {
    min-width: 0
}

.custom-dropdown-button {
    color: #000;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    font-weight: 400;
    width: 100%;
    display: block
}

.custom-dropdown-button:focus,
.custom-dropdown-button:hover {
    color: #000
}

.custom-dropdown-button:after {
    font-family: Linearicons;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "down7"
}

.custom-dropdown-button:disabled {
    background-color: #787882;
    cursor: default
}

.custom-dropdown-area:hover .custom-dropdown-button {
    background-color: #fff!important;
    border-color: #d2d2d2!important
}

.custom-dropdown-options {
    background-color: #fff;
    margin-top: -.3125rem;
    width: 100%!important;
    overflow: auto;
    max-height: 18.5em;
    list-style: none outside none;
    padding: 0
}

.custom-dropdown-options li {
    padding: .3rem;
    cursor: default;
    color: #20ca74
}

.custom-dropdown-options li.disabled {
    color: #000
}

.custom-dropdown-options li.disabled:hover {
    background: #f0f0f0
}

.custom-dropdown-options li:hover {
    background: #f0f0f0;
    cursor: pointer
}

.custom-dropdown-options li.nomatch {
    color: #333
}

.custom-dropdown-options li.selected {
    font-weight: 700
}

.custom-dropdown-options li.selected:after {
    content: "?";
    padding-right: .5rem;
    font-weight: 700;
    float: right
}

.custom-dropdown-options:after,
.custom-dropdown-options:before {
    display: none
}

.c-seals-container {
    font-size: 2rem
}

.c-seals-container [class*=icon] {
    font-size: 2.5rem
}

#js-products-model li {
    color: #000!important
}

@media only screen and (max-width:40em) {
    .custom-dropdown-options {
        margin-left: -8px!important
    }
}

.c-tabs-container .c-carousel {
    margin-bottom: 0
}

.c-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 1.2rem
}

.c-rating span.filled:before {
    content: "\2605"
}

.c-rating span:before {
    content: "\2606"
}

.o-icon-cod {
    color: #787882;
    background-color: #f0f0f0;
    float: left;
    padding: .3rem .3125rem
}

.o-icon-cod i {
    font-size: .875rem
}

.rating-input {
    opacity: 0
}

.rating-star {
    font-size: 3.5rem!important;
    cursor: pointer;
    color: #f0f0f0
}

.rating-reset {
    font-size: 3.8rem;
    cursor: pointer;
    color: #000
}

.rating-title {
    font-size: 1.0625rem;
    font-weight: 400;
    display: block
}

#first-star {
    margin: 0 0 0 -.3rem
}

#r-option-txt-selected {
    padding-top: .625rem;
    min-height: 35px
}

i.rating-reset:hover {
    cursor: pointer;
    color: #f0f0f0
}

.sl_reviews_graystars {
    width: 75px;
    height: 15px;
    background: url(images/stern_klein_grau.png) repeat-x;
    position: relative
}

.sl_reviews_redstars {
    width: 75px;
    height: 15px;
    background: url(images/stern_klein_rot.png) repeat-x
}

.small-star {
    width: 75px;
    height: 15px;
    background: url(images/small_black_star.png) repeat-x
}

.sl_reviews_graystars_big {
    width: 135px;
    height: 27px;
    background: url(images/stern_gross_grau.png) repeat-x;
    position: relative
}

.sl_reviews_redtars_big .sl_reviews_redstars {
    width: 135px;
    height: 27px;
    background: url(images/stern_gross_rot.png) repeat-x;
    position: absolute
}

.grayLight {
    color: #c9c9c9
}

.darker-gray {
    color: #787882
}

.error,
.red {
    color: #da1313
}

.black {
    color: #000
}