﻿
/*
 * Stars
 */
.rating-fa {
    font-family: 'FontAwesome';
    padding-left: 1px
}

    .rating-fa .rating-stars:before {
        padding-left: 1px
    }

.rating-gly {
    font-family: 'Glyphicons Halflings';
}

.rating-gly-star {
    font-family: 'Glyphicons Halflings';
    padding-left: 2px
}

    .rating-gly-star .rating-stars:before {
        padding-left: 2px
    }

.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
    padding-left: 4px
}

.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
    padding-left: 2px
}

.rating-active {
    cursor: default
}

.rating-disabled {
    cursor: not-allowed
}

.rating-uni {
    font-size: 1.2em;
    margin-top: -5px
}

.rating-container {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #e3e3e3;
    overflow: hidden
}

    .rating-container:before {
        content: attr(data-content)
    }

    .rating-container .rating-stars {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #fde16d;
        transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out
    }

        .rating-container .rating-stars:before {
            content: attr(data-content);
            text-shadow: 0 0 1px rgba(0,0,0,0.7)
        }

.rating-container-rtl {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    color: #fde16d
}

    .rating-container-rtl:before {
        content: attr(data-content);
        text-shadow: 0 0 1px rgba(0,0,0,0.7)
    }

    .rating-container-rtl .rating-stars {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #e3e3e3;
        transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out
    }

        .rating-container-rtl .rating-stars:before {
            content: attr(data-content)
        }
/**
 * Rating sizes
 */
.rating-xl {
    font-size: 4.89em
}

.rating-lg {
    font-size: 3.91em
}

.rating-md {
    font-size: 3.13em
}

.rating-sm {
    font-size: 18px;
}
.rating-smm {
    font-size: 15px;
}

.rating-xs {
    font-size: 13px
}
/**
 * Clear rating button
 */
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%
}

.clear-rating-active {
    cursor: pointer !important
}

    .clear-rating-active:hover {
        color: #843534
    }

.star-rating .clear-rating {
    padding-right: 5px
}
/**
 * Caption
 */
.star-rating .caption, .star-rating-rtl .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 55%
}

.star-rating .caption {
    padding-left: 5px
}

.star-rating-rtl .caption {
    padding-right: 5px
}
/**
 * Print
 */
@media print {
    .rating-container, .rating-container:before, .rating-container-rtl .rating-stars, .rating-container-rtl .rating-stars:before {
        color: #f3f3f3 !important
    }

    .star-rating .clear-rating, .star-rating-rtl .clear-rating {
        display: none
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),url('fonts/glyphicons-halflings-regular.woff') format('woff'),url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
